.instagram-modal{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    @include flexbox();
    @include align-items(stretch);
    @include flex-direction(column);
    @include flex-shrink(0);
    @include justify-content(space-between);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0,0,0,.5);
	opacity: 1;
    z-index: 1090;
    pointer-events: auto;
    @include transition(.4s);
    .instagram-modal__icon-close{
    	display: block;
	    position: fixed;
	    top: 12px;
	    right: 10px;
	    width: 30px;
		height: 30px;
		cursor: pointer;
		opacity: 1;
	    z-index: 1091;
	    @include transition(all .3s ease 0.5s);
		div {
			position: relative;
			width: 100%;
			height: 2px;
			background: rgba(198, 198, 198, 1);
			@include transition(all .4s ease);
			@include transform(rotate(135deg));
			top: 14px;
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgba(198, 198, 198, 1);
				@include transition(all .4s ease);
				top: 0;
    			@include transform(rotate(90deg));
			}
		}
		&:hover{
			div{
				background: #d10000;
				@include transform(rotate(225deg));
				&:before {
					background: #d10000;
				}
			}
		}
    }
	.instagram-dialog{
	    @include flexbox();
	    min-height: 100%;
	    overflow: auto;
	    width: auto;
	    z-index: 1;
		.instagram-content{
		    width: 100%;
		    max-width: 935px;
	        height: 600px;
		    margin: auto;
		    text-transform: none;
		    background-color: #fff;
		    pointer-events: auto;
		    @include transform(translate3d(0, 0, 0));
		    @include transition(.5s);
		    .instagram-content__item, .slick-list, .slick-track, .instagram-content__media, .instagram-media, .instagram-content__img{
				height: 100%;
		    }
		    .instagram-content__media{
		    	float: left;
		    	width: 600px;
		    	line-height: 600px;
		    	text-align: center;
		    	img{
		    		display: inline-block;
		    		max-height: 100%;
		    	}
		    	audio, canvas, progress, video{
		    		width: 100%;
		    		height: 100%;
		    	}
		    }
		    .instagram-content__info{
		    	float: right;
		    	width: calc(100% - 600px);
		    	height: 100%;
		    }
		    
		    &:after{
		    	content: '';
		    	clear: both;
		    	display: block;
		    }
		}
	}
	&.instagram-modal-hidden{
		opacity: 0;
	    z-index: -999;
	    pointer-events: none;
	    @include transition(.3s);
	    .instagram-modal__icon-close{
	    	z-index: -100;
			opacity: 0;
			@include transition(all .1s ease);
	    }
		.instagram-dialog{
			.instagram-content{
				@include transform(translate3d(0, 0, -100%));
				@include transition(.2s);
			}
		}
	}
}
.instagram-content{
	&.instagram-content-slide{
    	.slick-prev, .slick-next{
		    opacity: 0.8;
    		background: transparent;
    		svg{
    			display: block;
    			width: 22px;
				height: 45px;
    			path{
    				fill: rgba(255, 255, 255, 1);
    			}
    		}
    	}
    }
}

.instagram-media{
	&.instagram-media-slide{
		.slick-prev, .slick-next{
			width: 20px;
			height: 20px;
			line-height: 20px;
		    opacity: 0.8;
			background: rgba(255, 255, 255, 1);
			@include box-shadow(0px 3px 10px rgba(0, 0, 0, 0.3));
			@include border-radius(50%);
			svg{
				position: relative;
				display: block;
			    width: 18px;
    			height: 10px;
				path{
					fill: rgba(0, 0, 0, 0.5);
				}
			}
		}
		.slick-prev{
			left: 20px;
			svg{
				left: 0px;
			}
		}
		.slick-next{
			right: 20px;
			svg{
				left: 2px;
			}
		}
	}
}

.instagram-info{
	font-size: 16px;
	line-height: 1.42857143;
	text-align: left;
	word-wrap: break-word;
	padding: 0 24px;
	.instagram-info__head{
    	padding: 20px 0px;
    	border-bottom: 1px solid #efefef;
    }
    .instagram-info__body{
    	padding: 12px 0px;
    	height: calc(100% - 160px);
    	overflow: hidden;
    	overflow-y: auto;
    	&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: none;
			@include border-radius(10px);
			background-color: rgba(255, 255, 255, 1);
		}
		&::-webkit-scrollbar
		{
			width: 7px;
			height: 7px;
			background-color: rgba(255, 255, 255, 1);
		}
		&::-webkit-scrollbar-thumb
		{
			@include border-radius(10px);
			-webkit-box-shadow: none;
			background-color: #8c8c8c;
		}
    }
    .instagram-info__footer{
    	padding: 20px 0px;
    	border-top: 1px solid #efefef;
    }
    a{
	    color: #262626;
	    // font-family: MullerRegular;
	    font-weight: bold;
	}
}

.instagram-head{
	position: relative;
	display: table;
	width: 100%;
	.instagram-head__img{
		display: table-cell;
		vertical-align: middle;
		width: 50px;
		img{
    		width: 50px;
			height: 50px;
			@include border-radius(50%);
    	}
	}
	.instagram-head__info{
		display: table-cell;
		vertical-align: middle;
		padding: 0 30px 0 15px;
		a{
			display: block;
		}
		.instagram-link{
			position: absolute;
			z-index: 1;
			top: calc(50% - 15px);
			right: 5px;
			svg{
				width: 20px;
				height: 20px;
			}
		}
	}
}

.instagram-footer{
	.instagram-footer__like, .instagram-footer__comment{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 0 0;
		svg, span{
			display: inline-block;
			vertical-align: middle;
		}
		svg{
			width: 20px;
			height: 20px;
		}
	}
}

@media (max-width: 1200px){
	.instagram-modal{
		.instagram-dialog{
			.instagram-content{
				max-width: 815px;
				height: 480px;
				.instagram-content__media{
			    	width: 480px;
			    	line-height: 480px;
				}
			    .instagram-content__info{
			    	width: calc(100% - 480px);
			    }
			}
		}
	}
}
@media (max-width: 1000px){
	.instagram-modal{
		.instagram-dialog{
			padding: 20px 0px;
			.instagram-content{
				max-width: 600px;
		        height: auto;
				.instagram-content__media{
			    	float: none;
			    	width: 100%;
			    	height: 400px;
			    	line-height: 400px;
				}
			    .instagram-content__info{
					float: none;
			    	width: 100%;
			    	height: 400px;
			    }
			}
		}
	}
	.instagram-info{
		font-size: 14px;
		line-height: 1.2;
		padding: 0 14px;
		.instagram-info__head{
	    	padding: 15px 0px;
		}
	    .instagram-info__body{
	    	padding: 12px 0px;
	    	height: calc(100% - 170px);
		}
	    .instagram-info__footer{
	    	padding: 15px 0px;
		}
	}
}

@media (max-width: 640px){
	.instagram-modal{
		.instagram-modal__icon-close{
		    width: 26px;
			height: 26px;
			div {
				background: rgba(0, 0, 0, 0.7);
				&:before {
					background: rgba(0, 0, 0, 0.7);
				}
			}
			&:hover{
				div{
					background: rgba(0, 0, 0, 1);
					&:before {
						background: rgba(0, 0, 0, 1);
					}
				}
			}
		}
		.instagram-dialog{
			padding: 5px;
			.instagram-content{
				max-width: 100%;
				.instagram-content__media{
					height: 360px;
					line-height: 360px;
				}
				.instagram-content__media{
					height: 400px;
			    	line-height: 400px;
				}
			}
		}
	}
}