@charset "UTF-8";
@-ms-keyframes loader {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes loader {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
@-moz-keyframes loader {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
@keyframes loader {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
.fl {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  -js-display: flex;
  display: flex; }
  .fl.fl-wr-w {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .fl.fl-di-c {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .fl.fl-al-co-c {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .fl.fl-al-co-fl-s {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .fl.fl-al-co-fl-e {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .fl.fl-al-it-c {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .fl.fl-al-it-fl-s {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .fl.fl-al-it-fl-e {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .fl.fl-ju-co-c {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
  .fl.fl-ju-co-fl-s {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
  .fl.fl-ju-co-fl-e {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  .fl.fl-ju-co-sp-b {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }

body, div, a {
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

a:focus {
  outline: 0; }

img {
  max-width: 100%; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #000;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth; }
  @media (min-width: 1921px) {
    body {
      position: relative;
      max-width: 1920px;
      margin: 0 auto; } }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.wrap1 {
  flex: 1 0 auto;
  background: #fff; }

.wrap2 {
  flex: 0 0 auto;
  background: #fff; }

.preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1c2a;
  overflow: hidden; }

.cssload-loader {
  position: absolute;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  width: 72px;
  height: 72px;
  perspective: 900px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1s linear infinite;
    -o-animation: cssload-rotate-one 1s linear infinite;
    -ms-animation: cssload-rotate-one 1s linear infinite;
    -webkit-animation: cssload-rotate-one 1s linear infinite;
    -moz-animation: cssload-rotate-one 1s linear infinite;
    border-bottom: 3px solid #00afe9; }
  .cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1s linear infinite;
    -o-animation: cssload-rotate-two 1s linear infinite;
    -ms-animation: cssload-rotate-two 1s linear infinite;
    -webkit-animation: cssload-rotate-two 1s linear infinite;
    -moz-animation: cssload-rotate-two 1s linear infinite;
    border-right: 3px solid #00afe9; }
  .cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1s linear infinite;
    -o-animation: cssload-rotate-three 1s linear infinite;
    -ms-animation: cssload-rotate-three 1s linear infinite;
    -webkit-animation: cssload-rotate-three 1s linear infinite;
    -moz-animation: cssload-rotate-three 1s linear infinite;
    border-top: 3px solid #00afe9; }

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }
@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }
@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }
header {
  height: 146px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06); }
  header.header-sticky {
    position: relative; }
    header.header-sticky .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      height: 80px;
      z-index: 100;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%); }
      header.header-sticky .header .content {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        -js-display: flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 80px; }
      header.header-sticky .header .header__logo {
        float: none;
        width: 270px;
        line-height: 80px; }
        header.header-sticky .header .header__logo img {
          max-height: 65px; }
      header.header-sticky .header .header__contact {
        float: none;
        padding: 0px; }
        header.header-sticky .header .header__contact.header-contact .header-contact__phone {
          font-size: 14px; }
          header.header-sticky .header .header__contact.header-contact .header-contact__phone a i {
            width: 26px; }
        header.header-sticky .header .header__contact.header-contact .header-contact__link {
          font-size: 14px; }
      header.header-sticky .header .header__section {
        float: right;
        float: none;
        width: calc(100% - 500px);
        padding: 0px; }
        header.header-sticky .header .header__section.header-section .header-section__item {
          height: 40px; }
    header.header-sticky .header-menu {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0; }
    header.header-sticky.active .header {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: transform 0.6s linear;
      -moz-transition: transform 0.6s linear;
      -ms-transition: transform 0.6s linear;
      -o-transition: transform 0.6s linear;
      transition: transform 0.6s linear;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }
    header.header-sticky.active-enter .header {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: transform 0.4s ease-in;
      -moz-transition: transform 0.4s ease-in;
      -ms-transition: transform 0.4s ease-in;
      -o-transition: transform 0.4s ease-in;
      transition: transform 0.4s ease-in; }

.header {
  height: 106px;
  background: #fff; }
  .header .content {
    height: 100%; }
  .header .header__logo {
    width: 160px;
    padding: 0 20px 0 0; }
  .header .header__contact {
    width: 185px;
    padding: 0 20px 0 0; }
  .header .header__section {
    width: calc(100% - 345px);
    padding: 0; }
  .header:after {
    content: "";
    clear: both;
    display: block; }

.header-contact .header-contact__phone {
  color: #201600;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px; }
  .header-contact .header-contact__phone a {
    color: #201600; }
    .header-contact .header-contact__phone a:hover, .header-contact .header-contact__phone a:active, .header-contact .header-contact__phone a:focus {
      color: #201600; }
.header-contact .header-contact__link {
  position: relative;
  color: #52AC62;
  font-size: 16px;
  line-height: 1.1;
  margin: 0 0 0 34px; }
  .header-contact .header-contact__link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(82, 172, 98, 0.8); }
  .header-contact .header-contact__link:hover, .header-contact .header-contact__link:active, .header-contact .header-contact__link:focus {
    color: #52AC62; }
    .header-contact .header-contact__link:hover:after, .header-contact .header-contact__link:active:after, .header-contact .header-contact__link:focus:after {
      background: #52ac62; }

.header-section {
  height: 50px; }
  .header-section .header-section__item {
    height: 100%;
    border: 1px solid #dcdcdc;
    border-right: none; }
    .header-section .header-section__item.header-section__search {
      width: calc(100% - 581px); }
    .header-section .header-section__item.header-section__lk {
      width: 208px; }
    .header-section .header-section__item.header-section__favorite {
      width: 164px; }
    .header-section .header-section__item.header-section__cart {
      width: 210px;
      border: none; }
      .header-section .header-section__item.header-section__cart .header-cart {
        height: 100%; }
    .header-section .header-section__item.header-section__icon-menu {
      border-right: 1px solid #dcdcdc;
      width: 46px;
      cursor: pointer;
      -webkit-appearance: listbox; }
      @media (min-width: 1001px) {
        .header-section .header-section__item.header-section__icon-menu {
          display: none; } }
      .header-section .header-section__item.header-section__icon-menu .menu-fix-icon {
        width: 100%;
        height: 100%; }
      .header-section .header-section__item.header-section__icon-menu .icon-bars {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        -js-display: flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%; }
        .header-section .header-section__item.header-section__icon-menu .icon-bars .icon-bars__item {
          width: 22px;
          height: 2px;
          background: rgba(73, 73, 73, 0.89);
          margin: 0px auto 5px;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          border-radius: 8px; }
          .header-section .header-section__item.header-section__icon-menu .icon-bars .icon-bars__item:last-child {
            margin: 0 auto; }
  .header-section:after {
    content: '';
    clear: both;
    display: block; }

.header-search {
  height: 100%; }
  .header-search form {
    width: 100%;
    height: 100%; }
  .header-search .search-xs {
    display: none; }

.search-input-group {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .search-input-group input {
    width: 100%;
    height: 100%;
    color: #4D565F;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    border: 1px solid #E4E6F2;
    border: none;
    background: #fff;
    padding: 0 20px 0 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .search-input-group input:hover, .search-input-group input:focus, .search-input-group input:active {
      outline: 0;
      border-color: #E4E6F2;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; }
  .search-input-group .input-group-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 60px;
    padding: 0;
    height: 100%;
    text-align: center; }
    .search-input-group .input-group-btn button {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      padding: 0;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .search-input-group .input-group-btn button svg {
        width: 20px;
        height: 100%;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .search-input-group .input-group-btn button svg path {
          fill: rgba(73, 73, 73, 0.89); }
      .search-input-group .input-group-btn button:hover, .search-input-group .input-group-btn button:focus, .search-input-group .input-group-btn button:active {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none; }
        .search-input-group .input-group-btn button:hover svg path, .search-input-group .input-group-btn button:focus svg path, .search-input-group .input-group-btn button:active svg path {
          fill: #000; }

#searchModal form {
  width: 100%;
  height: 100%; }
#searchModal .modal-dialog {
  margin: 90px auto 0px !important; }
#searchModal.modal .modal-content {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  #searchModal.modal .modal-content .modal-body {
    padding: 0;
    height: 60px; }
    #searchModal.modal .modal-content .modal-body .input-group input {
      border: none; }

.header-lk {
  position: relative;
  height: 100%;
  padding: 0 15px; }
  .header-lk .header-lk__hr {
    width: 1px;
    height: 16px;
    background: #4D565F;
    margin: 5px 10px 0; }
  .header-lk .header-lk__item.active .user-menu {
    pointer-events: all;
    max-height: none;
    padding: 10px 0;
    opacity: 1; }
  .header-lk a {
    color: #4D565F; }
    .header-lk a i, .header-lk a span {
      display: inline-block;
      vertical-align: middle; }
    .header-lk a i {
      margin: 0 10px 0 0; }
    .header-lk a span {
      position: relative;
      top: 2px;
      color: #4D565F;
      font-size: 16px;
      font-weight: normal;
      line-height: 19px; }
    .header-lk a.lk-visible-menu {
      padding: 0; }
      .header-lk a.lk-visible-menu .lk-visible-menu__img {
        width: 30px;
        height: 30px;
        color: #fff;
        background: #3DDA7C;
        text-transform: uppercase;
        font-size: 11px;
        margin: 0 10px 0 0;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
        .header-lk a.lk-visible-menu .lk-visible-menu__img img {
          width: 100%; }
      .header-lk a.lk-visible-menu span {
        top: 0px; }
    .header-lk a.lk-user-logout {
      font-size: 13px;
      font-weight: normal;
      line-height: 16px;
      padding: 0 0 0 2px; }
      .header-lk a.lk-user-logout span {
        padding: 0 6px 0 0; }
      .header-lk a.lk-user-logout svg {
        position: relative;
        top: 2px;
        width: 13px;
        height: 13px; }
        .header-lk a.lk-user-logout svg path {
          fill: #fffefe; }
    .header-lk a:hover, .header-lk a:focus, .header-lk a:active {
      color: #3DDA7C; }

.user-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0px);
  opacity: 0;
  z-index: 2;
  width: 100%;
  min-width: 165px;
  max-height: 0;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #dcdcdc;
  list-style-type: none;
  pointer-events: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .user-menu li {
    padding: 3px 20px 5px 40px; }
    .user-menu li a {
      color: #4D565F; }
      .user-menu li a:after {
        display: none; }
      .user-menu li a:hover, .user-menu li a:focus, .user-menu li a:active {
        color: #3DDA7C; }

.but-header {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0 15px; }
  .but-header a {
    color: #4D565F;
    height: 100%; }
    .but-header a:hover, .but-header a:focus, .but-header a:active {
      color: #4D565F; }
  .but-header .but-header__icon, .but-header .but-header__text {
    display: inline-block;
    vertical-align: middle; }
  .but-header .but-header__icon {
    position: relative;
    top: 2px;
    width: 18px;
    height: 100%;
    text-align: center; }
    .but-header .but-header__icon svg {
      width: 100%;
      height: 100%; }
      .but-header .but-header__icon svg path {
        fill: #4F5964; }
  .but-header .but-header__count {
    position: absolute;
    opacity: 0;
    top: 8px;
    right: -10px;
    min-width: 17px;
    height: 17px;
    line-height: 1.0;
    background: #3DDA7C;
    color: #fff;
    font-size: 13px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .but-header .but-header__count.active {
      opacity: 1; }
  .but-header .but-header__text {
    position: relative;
    top: 2px;
    color: #4D565F;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    padding: 0 0 0 12px; }
  .but-header.but-cart {
    padding: 0 15px;
    background: #3dda7c; }
    .but-header.but-cart .but-header__icon {
      width: 20px; }
      .but-header.but-cart .but-header__icon svg {
        width: 100%; }
        .but-header.but-cart .but-header__icon svg path {
          fill: #fff; }
    .but-header.but-cart .but-header__count {
      background: #373E44; }
    .but-header.but-cart .but-header__text {
      color: #fff;
      padding: 0 0 0 20px; }

@media (max-width: 1600px) {
  header {
    height: 136px; }

  .header {
    height: 96px; }
    .header .header__contact {
      width: 175px; }
    .header .header__section {
      width: calc(100% - 335px); }

  .header-section {
    height: 50px; }
    .header-section .header-section__item.header-section__search {
      width: calc(100% - 525px); }
    .header-section .header-section__item.header-section__lk {
      width: 205px; }
    .header-section .header-section__item.header-section__favorite {
      width: 160px; }
    .header-section .header-section__item.header-section__cart {
      width: 160px; } }
@media (max-width: 1240px) {
  header {
    height: 126px; }

  .header {
    height: 86px; }
    .header .header__logo {
      position: relative;
      width: 155px;
      padding: 0 15px 0 0;
      top: -7px; }
    .header .header__contact {
      width: 165px;
      padding: 0 15px 0 0; }
    .header .header__section {
      width: calc(100% - 320px); }

  .header-section {
    height: 42px; }
    .header-section .header-section__item.header-section__search {
      width: calc(100% - 425px); }
    .header-section .header-section__item.header-section__lk {
      width: 170px; }
    .header-section .header-section__item.header-section__favorite {
      width: 130px; }
    .header-section .header-section__item.header-section__cart {
      width: 130px; }

  .header-contact .header-contact__phone {
    font-size: 16px;
    line-height: 19px; }
  .header-contact .header-contact__link {
    font-size: 15px; }

  .search-input-group input {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px 0 40px; }
  .search-input-group .input-group-btn {
    width: 40px; }
    .search-input-group .input-group-btn button svg {
      width: 18px; }

  .header-lk {
    padding: 0 10px; }
    .header-lk .header-lk__hr {
      width: 1px;
      height: 14px;
      margin: 0px 9px; }
    .header-lk a i {
      margin: 0 4px 0 0; }
    .header-lk a span {
      top: 0;
      font-size: 14px;
      line-height: 17px; }

  .but-header {
    padding: 0 10px; }
    .but-header .but-header__icon {
      top: 2px;
      width: 18px; }
    .but-header .but-header__count {
      top: 8px;
      right: -10px;
      min-width: 15px;
      height: 15px;
      font-size: 12px; }
    .but-header .but-header__text {
      top: 2px;
      font-size: 14px;
      line-height: 17px;
      padding: 0 0 0 10px; }
    .but-header.but-cart {
      padding: 0 10px; }
      .but-header.but-cart .but-header__icon {
        width: 18px; }
      .but-header.but-cart .but-header__text {
        padding: 0 0 0 16px; } }
@media (max-width: 1000px) {
  header {
    height: 86px; }
    header.header-sticky .header .header__section {
      width: calc(100% - 460px); }

  .header {
    height: 100%; }
    .header .header__logo {
      width: calc(100% - 395px); }
    .header .header__section {
      width: 230px; }

  .header-section .header-section__item {
    height: 46px; }
    .header-section .header-section__item.header-section__search, .header-section .header-section__item.header-section__lk, .header-section .header-section__item.header-section__favorite, .header-section .header-section__item.header-section__cart {
      width: 46px; }

  .header-search {
    text-align: center; }
    .header-search form {
      display: none; }
    .header-search .search-xs {
      display: inline-block;
      height: 100%; }
      .header-search .search-xs .search-xs-link {
        cursor: pointer; }
        .header-search .search-xs .search-xs-link svg {
          width: 17px;
          height: 100%;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .header-search .search-xs .search-xs-link svg path {
            fill: rgba(73, 73, 73, 0.89); }
        .header-search .search-xs .search-xs-link:hover, .header-search .search-xs .search-xs-link:focus, .header-search .search-xs .search-xs-link:active {
          outline: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none; }
          .header-search .search-xs .search-xs-link:hover svg path, .header-search .search-xs .search-xs-link:focus svg path, .header-search .search-xs .search-xs-link:active svg path {
            fill: #000; }

  .search-input-group input {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px 0 60px; }
  .search-input-group .input-group-btn {
    width: 60px; }
    .search-input-group .input-group-btn button svg {
      width: 18px; }

  .header-lk {
    padding: 0 5px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }
    .header-lk .header-lk__registration, .header-lk .header-lk__hr {
      display: none; }
    .header-lk a i {
      margin: 0; }
    .header-lk a span {
      display: none; }
    .header-lk a.lk-visible-menu .lk-visible-menu__img {
      width: 26px;
      height: 26px;
      margin: 0; }

  .user-menu {
    min-width: 159px; }
    .user-menu li {
      padding: 3px 20px 5px; }

  .but-header {
    padding: 0 5px; }
    .but-header .but-header__icon {
      top: 2px;
      width: 18px; }
    .but-header .but-header__count {
      top: 8px;
      right: -10px;
      min-width: 15px;
      height: 15px;
      font-size: 12px; }
    .but-header .but-header__text {
      display: none; }
    .but-header.but-cart {
      padding: 0 5px; }
      .but-header.but-cart .but-header__icon {
        width: 18px; } }
@media (max-width: 768px) {
  .header .header__logo {
    width: calc(100% - 365px); }
  .header .header__section {
    width: 200px; }

  .header-section .header-section__item {
    height: 40px; }
    .header-section .header-section__item.header-section__search, .header-section .header-section__item.header-section__lk, .header-section .header-section__item.header-section__favorite, .header-section .header-section__item.header-section__cart {
      width: 40px; }
    .header-section .header-section__item.header-section__icon-menu {
      width: 40px; }

  #searchModal .modal-dialog {
    margin: 60px 15px 0px !important; }

  .but-header .but-header__count {
    top: 3px;
    right: -8px;
    min-width: 14px;
    height: 14px;
    font-size: 11px; } }
@media (max-width: 640px) {
  header {
    height: 122px; }
    header.header-sticky .header {
      height: 40px; }
      header.header-sticky .header .content {
        height: 40px;
        padding: 0; }
      header.header-sticky .header .header__logo {
        display: none; }
      header.header-sticky .header .header__contact {
        display: none; }
      header.header-sticky .header .header__section {
        width: 100%; }
        header.header-sticky .header .header__section.header-section .header-section__item.header-section__search {
          border-left: none; }
        header.header-sticky .header .header__section.header-section .header-section__item.header-section__icon-menu {
          border-right: none; }

  .header {
    height: auto; }
    .header .header__logo {
      width: calc(100% - 165px);
      top: 0; }
    .header .header__contact {
      width: 165px;
      text-align: right;
      padding: 18px 0px 10px; }
    .header .header__section {
      width: 100%;
      padding: 10px 0 0; }

  .header-section {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
    .header-section .header-section__item {
      height: 36px; }
      .header-section .header-section__item.header-section__search, .header-section .header-section__item.header-section__lk, .header-section .header-section__item.header-section__favorite, .header-section .header-section__item.header-section__cart {
        width: 20%; }
      .header-section .header-section__item.header-section__icon-menu {
        width: 20%; }

  .header-contact .header-contact__phone a i {
    width: 16px; }
  .header-contact .header-contact__phone a span {
    width: auto;
    padding: 0 0 0 3px; }

  .but-header .but-header__count {
    right: 50%;
    padding: 1px 2px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@media (max-width: 420px) {
  .header-contact .header-contact__phone {
    font-size: 15px; }
    .header-contact .header-contact__phone a i {
      display: none; } }
@media (max-width: 400px) {
  .header .header__logo {
    width: calc(100% - 155px); }
  .header .header__contact {
    width: 155px;
    padding: 18px 0px 10px; } }
/* Меню */
.menu {
  width: 100%;
  height: 100%; }
  .menu ul {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .menu ul li {
      position: relative;
      padding: 0px 25px 0 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .menu ul li a {
        position: relative;
        color: #4D565F;
        font-size: 18px;
        font-weight: normal;
        line-height: 21px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .menu ul li a:after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 0;
          height: 1px;
          opacity: 0;
          background: #4D565F;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
      .menu ul li.active a, .menu ul li:hover a {
        color: #4D565F; }
        .menu ul li.active a:after, .menu ul li:hover a:after {
          opacity: 1;
          width: 100%; }

@media (max-width: 1600px) {
  /* Меню */
  .menu ul li {
    padding: 0px 25px 0 0; }
    .menu ul li a {
      font-size: 16px; } }
@media (max-width: 1240px) {
  /* Меню */
  .menu ul li {
    padding: 0px 15px 0 0; }
    .menu ul li a {
      font-size: 15px; } }
@media (max-width: 1000px) {
  .menu {
    display: none; } }
.menu-fix {
  display: none; }

@media (max-width: 1000px) {
  /* Меню */
  html.htmlmenu, body.htmlmenu {
    overflow-y: scroll !important; }

  body.bodymenu {
    overflow: hidden !important; }

  .menu-fix {
    display: block; }
    .menu-fix .menu-fix__icon-menu {
      float: right;
      display: block;
      width: auto;
      height: auto;
      padding: 21px 0px 20px; }
      .menu-fix .menu-fix__icon-menu .icon-bars {
        width: 20px;
        height: 3px;
        background: #fff;
        margin: 0px auto 5px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px; }
        .menu-fix .menu-fix__icon-menu .icon-bars:first-child, .menu-fix .menu-fix__icon-menu .icon-bars:last-child {
          width: 30px;
          background: #00afe9; }
        .menu-fix .menu-fix__icon-menu .icon-bars:last-child {
          margin: 0 auto; }
      .menu-fix .menu-fix__icon-menu:hover {
        cursor: pointer; }
        .menu-fix .menu-fix__icon-menu:hover .icon-bars {
          background: #fff; }
    .menu-fix .menu-fix__icon-close {
      z-index: -100;
      right: -200px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0.5s;
      -moz-transition: all 0.3s ease 0.5s;
      -ms-transition: all 0.3s ease 0.5s;
      -o-transition: all 0.3s ease 0.5s;
      transition: all 0.3s ease 0.5s; }
      .menu-fix .menu-fix__icon-close.active {
        display: block;
        position: fixed;
        top: 12px;
        right: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: 1;
        z-index: 1051; }
        .menu-fix .menu-fix__icon-close.active div {
          position: relative;
          width: 100%;
          height: 2px;
          background: rgba(0, 0, 0, 0.7);
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
          top: 14px; }
          .menu-fix .menu-fix__icon-close.active div:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            width: 100%;
            height: 2px;
            background: rgba(0, 0, 0, 0.7);
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            top: 0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
        .menu-fix .menu-fix__icon-close.active:hover div {
          background: #fff;
          -webkit-transform: rotate(225deg);
          -moz-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          -o-transform: rotate(225deg);
          transform: rotate(225deg); }
          .menu-fix .menu-fix__icon-close.active:hover div:before {
            background: #fff; }
    .menu-fix .menu-fix__box {
      position: fixed;
      z-index: 1050;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #fff;
      opacity: 0;
      pointer-events: none;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -moz-box;
      -js-display: flex;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .menu-fix .menu-fix__box.active {
        right: 0;
        opacity: 1;
        pointer-events: all; }
        .menu-fix .menu-fix__box.active .menu-fix__box2 {
          opacity: 1;
          z-index: 1051;
          pointer-events: all; }
        .menu-fix .menu-fix__box.active .menu-fix__bottom {
          opacity: 1;
          z-index: 1051; }
      .menu-fix .menu-fix__box .menu-fix__box2 {
        width: 100%;
        margin: auto;
        max-height: calc(100% - 145px);
        padding: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 {
          max-width: 100%;
          max-height: 100%;
          overflow-y: auto; }
          .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 ul {
            list-style: none;
            padding: 0px;
            margin: 0;
            display: block;
            max-height: 100%;
            text-align: center; }
            .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 ul li {
              padding: 10px 0px;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease; }
              .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 ul li a {
                position: relative;
                color: #4D565F;
                font-size: 18px;
                font-weight: normal;
                line-height: 21px; }
              .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 ul li.active a, .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3 ul li:hover a {
                color: #4D565F; }
          .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            background-color: #fff; }
          .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3::-webkit-scrollbar {
            width: 7px;
            background-color: #fff; }
          .menu-fix .menu-fix__box .menu-fix__box2 .menu-fix__box3::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: none;
            background-color: #b9b9b9; }
    .menu-fix.active:after {
      pointer-events: all;
      z-index: 1040;
      background: rgba(0, 0, 0, 0.6); }
    .menu-fix:after {
      content: '';
      display: block;
      position: fixed;
      z-index: -1040;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: rgba(0, 0, 0, 0);
      -webkit-transition: all 0.3s linear 0.3s;
      -moz-transition: all 0.3s linear 0.3s;
      -ms-transition: all 0.3s linear 0.3s;
      -o-transition: all 0.3s linear 0.3s;
      transition: all 0.3s linear 0.3s; } }
.form-my .form-group {
  margin: 0 0 20px; }
  .form-my .form-group label {
    display: none; }
  .form-my .form-group input, .form-my .form-group textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #e2e2e2;
    background: transparent;
    color: #232323;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
    .form-my .form-group input::-webkit-input-placeholder, .form-my .form-group textarea::-webkit-input-placeholder {
      color: rgba(35, 35, 35, 0.7); }
    .form-my .form-group input::-moz-placeholder, .form-my .form-group textarea::-moz-placeholder {
      color: rgba(35, 35, 35, 0.7); }
    .form-my .form-group input:-moz-placeholder, .form-my .form-group textarea:-moz-placeholder {
      color: rgba(35, 35, 35, 0.7); }
    .form-my .form-group input:-ms-input-placeholder, .form-my .form-group textarea:-ms-input-placeholder {
      color: rgba(35, 35, 35, 0.7); }
    .form-my .form-group input.disabled, .form-my .form-group input.form-control[disabled], .form-my .form-group input.form-control[readonly], .form-my .form-group textarea.disabled, .form-my .form-group textarea.form-control[disabled], .form-my .form-group textarea.form-control[readonly] {
      cursor: not-allowed;
      pointer-events: none;
      background-color: #eee;
      opacity: 1; }
    .form-my .form-group input.error, .form-my .form-group textarea.error {
      color: #a94442;
      border-color: #a94442; }
      .form-my .form-group input.error::-webkit-input-placeholder, .form-my .form-group textarea.error::-webkit-input-placeholder {
        color: #a94442; }
      .form-my .form-group input.error::-moz-placeholder, .form-my .form-group textarea.error::-moz-placeholder {
        color: #a94442; }
      .form-my .form-group input.error:-moz-placeholder, .form-my .form-group textarea.error:-moz-placeholder {
        color: #a94442; }
      .form-my .form-group input.error:-ms-input-placeholder, .form-my .form-group textarea.error:-ms-input-placeholder {
        color: #a94442; }
  .form-my .form-group textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    max-width: 100% !important;
    min-width: 100% !important;
    min-height: 65px !important;
    max-height: 65px !important; }
.form-my .password-form-group .input-group {
  position: relative;
  display: block;
  width: 100%; }
  .form-my .password-form-group .input-group .input-group-addon, .form-my .password-form-group .input-group .input-group-btn, .form-my .password-form-group .input-group .form-control {
    display: block;
    float: none; }
.form-my .password-form-group .input-group-addon {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 15px;
  width: auto;
  padding: 0;
  color: #737171;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .form-my .password-form-group .input-group-addon:hover, .form-my .password-form-group .input-group-addon:focus, .form-my .password-form-group .input-group-addon:active {
    cursor: pointer;
    color: #252525; }
.form-my .terms_of_use {
  color: #959595;
  font-size: 12px;
  line-height: 1.2;
  padding: 15px 0px 0px; }
  .form-my .terms_of_use a {
    color: #959595;
    text-decoration: underline; }
.form-my .help-block {
  color: #a94442;
  margin: 0px !important;
  font-size: 12px;
  text-align: center; }
.form-my .file-upload {
  position: relative; }
  .form-my .file-upload input[type="file"] {
    display: none; }
  .form-my .file-upload label {
    cursor: pointer; }
  .form-my .file-upload span {
    color: #212121;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    padding: 5px 0 0; }
    .form-my .file-upload span .fa-paperclip {
      position: relative;
      font-size: 1.3em;
      border: none;
      background: transparent;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .form-my .file-upload span #count_file {
      display: inline-block;
      border-bottom: 1px solid #b3b3b3;
      margin: 0 0 0 10px; }
.form-my .form-button {
  margin: 20px 0 0; }
.form-my input[type="submit"], .form-my button {
  width: 100%;
  border: none;
  height: 50px;
  line-height: 50px;
  padding: 0 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .form-my input[type="submit"]:hover, .form-my input[type="submit"]:focus, .form-my input[type="submit"]:active, .form-my button:hover, .form-my button:focus, .form-my button:active {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
.form-my.form-logoLaying .form-group {
  min-height: 82px;
  margin: 0 0 5px; }
  .form-my.form-logoLaying .form-group label {
    display: inline-block; }
.form-my.form-logoLaying .help-block {
  text-align: left; }
.form-my.form-logoLaying .form-help {
  color: #999;
  font-size: 14px;
  text-align: right;
  padding: 25px 0 0; }
.form-my.form-logoLaying .form-check {
  text-align: left; }
  .form-my.form-logoLaying .form-check a {
    color: #6F6F6F;
    font-size: 16px; }
    .form-my.form-logoLaying .form-check a:after {
      background: #6F6F6F; }
    .form-my.form-logoLaying .form-check a:hover, .form-my.form-logoLaying .form-check a:focus, .form-my.form-logoLaying .form-check a:active {
      color: #52AC62; }
      .form-my.form-logoLaying .form-check a:hover:after, .form-my.form-logoLaying .form-check a:focus:after, .form-my.form-logoLaying .form-check a:active:after {
        background: #52AC62; }
  .form-my.form-logoLaying .form-check .help-block {
    padding: 5px 0 0 30px; }
.form-my.form-logoLaying .form-bot {
  text-align: right;
  padding: 20px 0 0; }
.form-my.form-logoLaying .form-button {
  display: inline-block;
  margin: 0; }

@media (max-width: 768px) {
  .form-my input[type="submit"], .form-my button {
    height: 46px;
    line-height: 46px;
    padding: 0 40px; } }
@media (max-width: 400px) {
  .form-my .form-captcha {
    position: relative;
    left: -35px;
    top: -10px;
    display: block;
    margin: 0 auto 10px;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
  .form-my .terms_of_use {
    font-size: 13px; }
  .form-my .form-button {
    margin: 10px 0 0; }
  .form-my input[type="submit"], .form-my button {
    height: 42px;
    line-height: 42px;
    padding: 0 40px; } }
.modal-my .modal-dialog {
  width: 385px;
  margin: 30px auto; }
.modal-my .modal-header {
  border: none;
  padding: 40px 40px 0px; }
  .modal-my .modal-header.box-style .box-style__header {
    width: 100%;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 0 20px; }
  .modal-my .modal-header.box-style .box-style__heading {
    font-size: 26px;
    line-height: 1.0;
    padding: 10px 0; }
  .modal-my .modal-header.box-style .box-style__desc {
    width: 100%;
    padding: 0; }
  .modal-my .modal-header .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 1;
    z-index: 1051;
    -webkit-appearance: listbox; }
    .modal-my .modal-header .modal-close div {
      position: relative;
      width: 100%;
      height: 1px;
      background: rgba(17, 17, 17, 0.7);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 10px; }
      .modal-my .modal-header .modal-close div:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(17, 17, 17, 0.7);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        top: 0;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
    .modal-my .modal-header .modal-close:hover div {
      background: #111111;
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg); }
      .modal-my .modal-header .modal-close:hover div:before {
        background: #111111; }
  .modal-my .modal-header .close {
    color: #000; }
    .modal-my .modal-header .close:hover, .modal-my .modal-header .close:focus, .modal-my .modal-header .close:active {
      outline: 0; }
.modal-my .modal-content {
  background: #fff; }
.modal-my .modal-body {
  padding: 10px 40px 40px; }
  .modal-my .modal-body .but {
    width: 100%; }
.modal-my .modal-success-message {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0px 30px; }
.modal-my .message-success {
  color: #207901;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0px 30px; }
.modal-my.modal-logoLaying .modal-dialog {
  width: 1040px; }

@media (max-width: 1200px) {
  .modal-my .modal-header .box-style__header .box-style__heading {
    font-size: 24px; } }
@media (max-width: 1000px) {
  .modal-my .modal-header .box-style__header .box-style__heading {
    font-size: 22px; } }
@media (max-width: 640px) {
  .modal-my .modal-header .box-style__header {
    text-align: left; }
  .modal-my .modal-success-message {
    font-size: 14px; } }
@media (max-width: 400px) {
  .modal-my .modal-dialog {
    width: 300px; }
  .modal-my .modal-header {
    padding: 30px 20px 0px; }
  .modal-my .modal-body {
    padding: 10px 20px 30px; } }
.but {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: auto;
  height: 45px;
  color: #4D565F;
  font-size: 16px;
  line-height: 19px;
  padding: 0 35px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .but.but-border {
    background: transparent;
    border: 1px solid #E9EAF3; }
    .but.but-border.but-svg svg path {
      fill: #000; }
    .but.but-border.but-border-white {
      color: #fff;
      border-color: #fff; }
      .but.but-border.but-border-white svg path {
        fill: #fff; }
  .but.but-svg {
    -webkit-appearance: listbox;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s; }
    .but.but-svg.but-svg-right {
      padding-right: 20px; }
      .but.but-svg.but-svg-right span {
        padding: 0 15px 0 0; }
    .but.but-svg.but-svg-left span {
      padding: 0 0 0 15px; }
    .but.but-svg svg {
      width: 17px;
      height: 12px;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: transform 0.2s ease-out;
      -moz-transition: transform 0.2s ease-out;
      -ms-transition: transform 0.2s ease-out;
      -o-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out; }
      .but.but-svg svg path {
        fill: #fff; }
  .but.but-green {
    color: #fff;
    background: #52AC62; }
  .but.but-animation {
    overflow: hidden;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    .but.but-animation:before, .but.but-animation:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: -110%;
      top: 0;
      opacity: 0.1;
      background: rgba(0, 0, 0, 0.6);
      -webkit-transform: skewX(25deg);
      -moz-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
      -o-transform: skewX(25deg);
      transform: skewX(25deg);
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      pointer-events: none; }
  .but:hover, .but:focus, .but:active {
    border: none;
    outline: 0;
    color: #4D565F;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
    .but:hover.but-border, .but:focus.but-border, .but:active.but-border {
      background: #E9EAF3;
      border: 1px solid #E9EAF3; }
      .but:hover.but-border.but-svg svg path, .but:focus.but-border.but-svg svg path, .but:active.but-border.but-svg svg path {
        fill: #000; }
      .but:hover.but-border.but-border-white, .but:focus.but-border.but-border-white, .but:active.but-border.but-border-white {
        color: #000;
        background: #fff;
        border-color: #fff; }
        .but:hover.but-border.but-border-white svg path, .but:focus.but-border.but-border-white svg path, .but:active.but-border.but-border-white svg path {
          fill: #000; }
    .but:hover.but-svg.but-svg-right svg, .but:focus.but-svg.but-svg-right svg, .but:active.but-svg.but-svg-right svg {
      -webkit-transform: translateX(-3px);
      -moz-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      -o-transform: translateX(-3px);
      transform: translateX(-3px); }
    .but:hover.but-svg.but-svg-left svg, .but:focus.but-svg.but-svg-left svg, .but:active.but-svg.but-svg-left svg {
      -webkit-transform: translateX(3px);
      -moz-transform: translateX(3px);
      -ms-transform: translateX(3px);
      -o-transform: translateX(3px);
      transform: translateX(3px); }
    .but:hover.but-green, .but:focus.but-green, .but:active.but-green {
      color: #fff; }
    .but:hover.but-animation:before, .but:focus.but-animation:before, .but:active.but-animation:before {
      left: -10%;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
    .but:hover.but-animation:hover:after, .but:focus.but-animation:hover:after, .but:active.but-animation:hover:after {
      left: -20%; }

.but-link {
  position: relative;
  color: #373E44;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  padding: 0; }
  .but-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #373E44; }
  .but-link:hover, .but-link:focus, .but-link:active {
    color: #52AC62; }
    .but-link:hover:after, .but-link:focus:after, .but-link:active:after {
      background: #52AC62; }

.but-more {
  position: relative;
  color: #52AC62;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.0;
  padding: 0 15px 0 0; }
  .but-more span {
    border-bottom: 1px solid  #52AC62; }
  .but-more:before {
    content: "\f107";
    position: absolute;
    right: 0;
    top: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .but-more:hover, .but-more:focus, .but-more:active {
    color: #52AC62; }
  .but-more.active:before {
    content: "\f106"; }

@media (max-width: 1240px) {
  .but {
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 25px; }
    .but.but-svg.but-svg-right {
      padding-right: 15px; }
      .but.but-svg.but-svg-right span {
        padding: 0 10px 0 0; }
    .but.but-svg.but-svg-left span {
      padding: 0 0 0 10px; }
    .but.but-svg svg {
      width: 15px;
      height: 9px; } }
@media (max-width: 1000px) {
  .but {
    height: 36px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px; } }
@media (max-width: 640px) {
  .but {
    padding: 0 16px; } }
.icon {
  display: inline-block;
  vertical-align: top;
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -ms-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; }
  .icon.icon-phone {
    width: 13px;
    height: 13px;
    background: url("../images/icon/icon-phone.png") center no-repeat; }
  .icon.icon-account {
    width: 20px;
    height: 20px;
    background: url("../images/icon/icon-account.png") center no-repeat; }

@media (min-width: 1001px) and (max-width: 1240px) {
  .icon.icon-account {
    width: 14px;
    height: 14px; } }
@media (max-width: 1000px) {
  .icon.icon-account {
    width: 18px;
    height: 18px; } }
footer {
  width: 100%;
  height: auto;
  background: #fff; }

.footer {
  color: #4D565F;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px; }
  .footer .footer__top {
    padding: 70px 0px 20px; }
  .footer .footer__bot {
    border-top: 1px solid #E9EAF3;
    padding: 20px 0px 18px; }
    .footer .footer__bot:after {
      content: '';
      clear: both;
      display: block; }
  .footer .footer__item.footer__item_logo {
    width: 240px;
    padding: 0 40px 0 0; }
  .footer .footer__item.footer__item_menu {
    width: 480px; }
    .footer .footer__item.footer__item_menu ul li {
      width: 50%; }
  .footer .footer__item.footer__item_contact {
    width: 685px; }
  .footer .footer__heading {
    color: #4D565F;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0 0 20px; }
  .footer .footer__copy {
    width: calc(100% - 690px);
    color: #A19AA2;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px; }
  .footer .footer__dc-logo {
    width: 690px; }
    .footer .footer__dc-logo a {
      display: block;
      color: #A19AA2; }
      .footer .footer__dc-logo a img {
        width: 120px; }
      .footer .footer__dc-logo a span {
        padding: 0 0 0 15px; }

.footer-logo {
  width: 100%;
  height: 70px; }
  .footer-logo a {
    width: 100%;
    height: 100%; }

.menu-footer {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .menu-footer li {
    width: 100%;
    line-height: 1.0;
    padding: 0 15px 20px 0; }
    .menu-footer li a {
      position: relative;
      color: #4D565F;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.0; }
      .menu-footer li a:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 1px;
        opacity: 0;
        background: #4D565F;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .menu-footer li a:hover {
        color: #4D565F; }
        .menu-footer li a:hover:after {
          opacity: 1;
          width: 100%; }

.footer-contact {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  -js-display: flex;
  display: flex; }
  .footer-contact .footer-contact__item {
    width: 215px;
    color: #A3A3A3;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    padding: 0 30px 0 0; }
    .footer-contact .footer-contact__item a {
      color: #4D565F; }
    .footer-contact .footer-contact__item.footer-contact__item_2 {
      width: calc(100% - 215px);
      padding: 0; }
  .footer-contact .footer-contact__location {
    padding: 0 0 6px; }
    .footer-contact .footer-contact__location br {
      display: none; }
  .footer-contact .footer-contact__email {
    padding: 20px 0 0; }
  .footer-contact .footer-contact__phone {
    padding: 0 0 10px; }
    .footer-contact .footer-contact__phone a {
      font-weight: bold;
      line-height: 24px; }
  .footer-contact .footer-contact__mode {
    font-size: 14px;
    line-height: 19px; }
  .footer-contact .footer-contact__link {
    position: relative;
    color: #6F6F6F;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    border-bottom: 1px solid #6F6F6F;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .footer-contact .footer-contact__link:hover {
      color: #6F6F6F;
      border-color: #6F6F6F; }
  .footer-contact .footer-contact__but {
    padding: 5px 0 15px; }
    .footer-contact .footer-contact__but .but {
      width: 100%;
      text-align: center;
      padding: 0 15px; }
  .footer-contact .footer-contact__soc {
    padding: 30px 0 0; }
    .footer-contact .footer-contact__soc .soc-box {
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -moz-box;
      -js-display: flex;
      display: flex; }
      .footer-contact .footer-contact__soc .soc-box span {
        display: inline; }

.soc-box {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .soc-box a {
    padding: 2px 10px 2px 0; }
    .soc-box a svg {
      width: 23px; }
      .soc-box a svg path {
        fill: #212121; }
      .soc-box a svg#svg-instagram {
        width: 18px; }
  .soc-box span {
    display: none;
    padding: 2px 0 2px 5px; }

@media (max-width: 1600px) {
  .footer .footer__item.footer__item_logo {
    width: 200px;
    padding: 0 40px 0 0; }
  .footer .footer__item.footer__item_menu {
    width: 440px; }
  .footer .footer__item.footer__item_contact {
    width: 510px; }
  .footer .footer__copy {
    width: calc(100% - 515px); }
  .footer .footer__dc-logo {
    width: 515px; }

  .footer-contact .footer-contact__item {
    width: 190px;
    padding: 0 20px 0 0; }
    .footer-contact .footer-contact__item.footer-contact__item_2 {
      width: calc(100% - 190px); } }
@media (max-width: 1240px) {
  .footer {
    font-size: 14px;
    line-height: 18px; }
    .footer .footer__top {
      padding: 50px 0px 20px; }
    .footer .footer__bot {
      padding: 12px 0px 8px; }
    .footer .footer__item.footer__item_logo {
      width: 180px;
      padding: 0 25px 0 0; }
    .footer .footer__item.footer__item_menu {
      width: 360px; }
    .footer .footer__item.footer__item_contact {
      width: 400px; }
    .footer .footer__copy {
      width: calc(100% - 405px); }
    .footer .footer__dc-logo {
      width: 405px; }

  .menu-footer li {
    padding: 0 15px 12px 0; }
    .menu-footer li a {
      font-size: 14px; }

  .footer-contact .footer-contact__item {
    font-size: 14px;
    line-height: 18px;
    padding: 0 30px 0 0; }
  .footer-contact .footer-contact__location {
    padding: 0 0 5px; }
  .footer-contact .footer-contact__email {
    padding: 20px 0 0; }
  .footer-contact .footer-contact__phone {
    padding: 0 0 10px; }
    .footer-contact .footer-contact__phone a {
      line-height: 22px; }
  .footer-contact .footer-contact__mode {
    font-size: 14px;
    line-height: 18px; }
  .footer-contact .footer-contact__link {
    font-size: 14px;
    line-height: 18px; }
  .footer-contact .footer-contact__but {
    padding: 5px 0 15px; }
    .footer-contact .footer-contact__but .but {
      padding: 0 15px; } }
@media (max-width: 1000px) {
  .footer {
    font-size: 14px;
    line-height: 18px; }
    .footer .footer__top {
      padding: 40px 0px 25px; }
    .footer .footer__bot {
      padding: 12px 0px 8px; }
    .footer .footer__item.footer__item_logo {
      width: 100%;
      padding: 0 0 40px; }
    .footer .footer__item.footer__item_menu {
      width: 340px; }
    .footer .footer__item.footer__item_contact {
      width: 380px; }
    .footer .footer__copy {
      width: calc(100% - 385px); }
    .footer .footer__dc-logo {
      width: 385px; } }
@media (max-width: 768px) {
  .footer {
    font-size: 14px;
    line-height: 18px; }
    .footer .footer__top {
      text-align: center;
      padding: 40px 0px 10px; }
    .footer .footer__bot {
      text-align: center;
      padding: 30px 0px 15px; }
    .footer .footer__item.footer__item_logo {
      width: 100%;
      padding: 0 0 30px; }
    .footer .footer__item.footer__item_menu {
      width: 100%;
      padding: 0 0 30px; }
      .footer .footer__item.footer__item_menu ul li {
        width: 100%; }
    .footer .footer__item.footer__item_contact {
      width: 100%;
      padding: 0 0 30px; }
    .footer .footer__copy {
      width: 100%;
      padding: 0 0 10px; }
    .footer .footer__dc-logo {
      width: 100%; }
      .footer .footer__dc-logo a span {
        display: block; }

  .footer-logo a {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center; }

  .menu-footer li {
    padding: 0 0 15px; }

  .footer-contact {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-contact .footer-contact__item {
      width: 100%;
      padding: 0; }
      .footer-contact .footer-contact__item.footer-contact__item_2 {
        width: 100%; } }
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }
  .slick-slider.slick-initialized {
    opacity: 1;
    visibility: visible; }
    .slick-slider.slick-initialized .slick-slide::before {
      pointer-events: none;
      opacity: 0; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .slick-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }
  .slick-slide:hover, .slick-slide:focus, .slick-slide:active {
    outline: 0; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 10;
  display: block;
  cursor: pointer;
  top: 50%;
  padding: 0;
  outline: none;
  width: 45px;
  height: 45px;
  text-align: center;
  border: none;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .slick-prev svg,
  .slick-next svg {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    .slick-prev svg circle,
    .slick-next svg circle {
      fill: transparent;
      stroke: #E4E6F2; }
    .slick-prev svg path,
    .slick-next svg path {
      fill: #000; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    opacity: 1;
    border-color: transparent; }
    .slick-prev:hover svg circle, .slick-prev:focus svg circle,
    .slick-next:hover svg circle,
    .slick-next:focus svg circle {
      fill: #52AC62;
      stroke: transparent; }
    .slick-prev:hover svg path, .slick-prev:focus svg path,
    .slick-next:hover svg path,
    .slick-next:focus svg path {
      fill: #fff; }
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    opacity: 0.25; }

.slick-prev {
  left: -65px; }

.slick-next {
  right: -65px; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -10px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 2px;
    margin: 0 7px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      display: block;
      width: 100%;
      height: 100%;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 0;
      cursor: pointer;
      border: 0;
      background: #BFBFBF;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
    .slick-dots li.slick-active button {
      border: 0;
      background: #3D7347; }

@media (max-width: 1240px) {
  /* Arrows */
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px; }

  .slick-prev {
    left: -55px; }

  .slick-next {
    right: -55px; } }
@media (max-width: 1000px) {
  /* Arrows */
  .slick-prev,
  .slick-next {
    width: 36px;
    height: 36px; } }
@media (max-width: 480px) {
  .slick-dots li {
    width: 32px;
    margin: 0 5px; } }

/*# sourceMappingURL=index.css.map */
