.but{
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 55px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.0;
	padding: 0 35px;
	border: none;
	background: #373E44;
	backdrop-filter: blur(4px);
	@include box-shadow(none);
	@include border-radius(5px);
	@include transition(all .3s linear);
	&.but-border{
		color: #373E44;
		font-size: 16px;
		line-height: 1.0;
		padding: 0 20px;
		background: transparent;
		border: 1px solid #DBDBDB;
		&.but-svg{
			svg{
				path{
					fill: #373E44;
				}
			}
		}
	}
	&.but-svg{
		-webkit-appearance: listbox;
		@include transform(perspective(1px) translateZ(0));
		@include transition-duration(0.1s);
		&.but-svg-right{
			padding-right: 20px;
			span{
				padding: 0 15px 0 0;
			}	
		}
		&.but-svg-left{
			span{
				padding: 0 0 0 15px;
			}	
		}
		svg{
			width: 17px;
			height: 12px;
			@include transform(translateZ(0));
			@include transition(transform .3s ease-out);
			path{
				fill: #fff;
			}
		}
	}
	&.but-pink{
		color: #fff;
		background: #F600A2;
	}
	&.but-pink-gradient{
		color: #fff;
		@extend .pink-background-gradient;
	}
	&.but-transparent{
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(4px);
	}
	&.but-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba(0, 0, 0, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&:hover, &:focus, &:active{
		border: none;
		outline: 0;
		color: #fff !important;
		background: #212121;
		@include box-shadow(none);
		&.but-border{
			border: 1px solid #C1007F;
			&.but-svg{
				svg{
					path{
						fill: #fff;
					}
				}
			}
		}
		&.but-border, &.but-pink, &.but-pink-gradient, &.but-transparent{
			background: #C1007F !important;
		}
		&.but-svg{
			&.but-svg-right{
				svg{
					@include transform(translateX(-3px));
				}
			}
			&.but-svg-left{
				svg{
					@include transform(translateX(3px));
				}
			}
		}
		&.but-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
	}
}

.but-svg-circle{
	position: relative;
	@include flexbox();
	@include align-items(center);
	width: auto;
	height: 45px;
	color: #373E44;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.0;
	padding: 0 0 0 60px;
	@include box-shadow(none);
	@include transition(all .3s linear);
	svg{
		position: absolute;
		top: 0;
		left: 0;
		width: 45px;
		height: 45px;
		@include transition(all .1s linear);
		ellipse{
			fill: #F600A2;
		}
		path{
			fill: #fff;
		}
	}
	span{
		padding: 0;
		// @include transition(all .3s linear);
	}
	&:hover, &:focus, &:active{
		border: none;
		outline: 0;
		color: #373E44;
		@include box-shadow(none);
		svg{
			// top: -2px;
			// left: -2px;
			// width: 49px;
			// height: 49px;
			@include transform(scale(1.05));
			ellipse{
				fill: #C1007F;
			}
		}
		span{
			// padding: 0 0 0 12px;
		}
	}
}

.but-link{
	position: relative;
	color: #373E44;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.1;
	padding: 0 ;
	&:after {
		content: '';
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    display: block;
	    width: 100%;
	    height: 1px;
	    background: #373E44;
	}
	&.but-link-pink{
		color: #F600A2;
		&:after {
			background: #F600A2;
		}
	}
	&:hover, &:focus, &:active{
		color: #C1007F;
		&:after {
			background: #C1007F;
		}
	}
}

.but-more{
	position: relative;
	color: #F600A2;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.0;
	padding: 0 15px 0 0;
	span{
		border-bottom: 1px solid  #F600A2;
	}
	&:before {
		content: "\f107";
	    position: absolute;
	    right: 0;
	    top: 10px;
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    @include transform(translateY(-50%));
	}
	&:hover, &:focus, &:active{
		color: #F600A2;
	}
	&.active{
		&:before {
			content: "\f106";
		}
	}
}

@media (max-width: 1600px){
	.but{
		height: 46px;
		font-size: 16px;
		line-height: 1.0;
		padding: 0 30px;
		&.but-border{
			font-size: 14px;
			line-height: 1.0;
			padding: 0 20px;
		}
		&.but-pink{
			color: #fff;
			background: #F600A2;
		}
	}
	.but-svg-circle{
		height: 40px;
		font-size: 15px;
		line-height: 1.0;
		padding: 0 0 0 55px;
		svg{
			width: 40px;
			height: 40px;
		}
	}
	.but-link{
		font-size: 17px;
		line-height: 1.1;
	}
}

@media (max-width: 1240px){
	.but{
		height: 40px;
		font-size: 14px;
		line-height: 1.0;
		padding: 0 25px;
		&.but-svg{
			&.but-svg-right{
				padding-right: 15px;
				span{
					padding: 0 10px 0 0;
				}	
			}
			&.but-svg-left{
				span{
					padding: 0 0 0 10px;
				}	
			}
			svg{
				width: 15px;
				height: 9px;
			}
		}
	}
	.but-svg-circle{
		height: 36px;
		font-size: 14px;
		line-height: 1.0;
		padding: 0 0 0 48px;
		svg{
			width: 36px;
			height: 36px;
		}
	}
	.but-link{
		font-size: 15px;
		line-height: 1.1;
	}
}

@media (max-width: 1000px){
	.but{
		height: 36px;
		font-size: 14px;
		line-height: 17px;
		padding: 0 20px;
	}
}

@media (max-width: 640px){
	.but{
		padding: 0 15px;
		&.but-border{
			padding: 0 10px;
		}
	}
}