footer{
	width: 100%;
	height: auto;
	background: #F7F7F7;
	margin: 30px 0 0;
}

.footer{
	color: #A3A3A3;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	.footer__top{
		padding: 70px 0px 20px;
	}
	.footer__bot{
		padding: 35px 0px;
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.footer__item{
		padding: 0 40px 0 0;
		&.footer__item_logo{
			width: 296px;
		}
		&.footer__item_curs{
			width: 396px
		}
		&.footer__item_menu{
			width: 293px;
		}
		&.footer__item_contact{
			width: 215px;
			padding: 0;
		}
	}
	.footer__heading{
		color: #4D565F;
		font-weight: bold;
		line-height: 21px;
		text-transform: uppercase;
		padding: 0 0 15px;
	}
	.footer__copy{
		width: 100%;
		padding: 20px 0 0;
	}
	.footer__dc-logo{
		width: 514px;
		a{
			color: #A3A3A3;
			font-size: 14px;
			line-height: 18px;
			img{
				width: 120px;
			}
			span{
				display: block;
				padding: 5px 0 0 30px;
			}
		}
	}
}

.footer-logo{
	width: 100%;
	height: auto;
	a{
		width: 100%;
		height: 100%;
	}
	img{
		max-height: 50px;
	}
	svg{
		width: 120px;
		height: 50px;
		.st0{
			fill: #212121;
		} 
		.st2{
			fill: #373E44;
		}
		.st1{
			fill: #B50077;
		}
	}
}

.menu-footer, .menu-curs{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0;
	padding: 0 0 10px;
	list-style-type: none;
	li{
		width: 100%;
		line-height: 1.0;
		padding: 0 0 15px;
		a{
			position: relative;
			color: #7A8086;
			line-height: 1.2;
			&:after{
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 0;
				height: 1px;
				opacity: 0;
				background: #7A8086;
				@include transition(all .3s linear);
			}
			&:hover{
				color: #7A8086;
				&:after{
					opacity: 1;
					width: 100%;
				}
			}
		}
	}
}

.footer-contact{
	.footer-contact__item{
		width: 100%;
		color: #7A8086;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		padding: 0 0 20px;
		a{
			color: #4D565F;
		}
	}
	.footer-contact__location{
		br{
			display: none;
		}
	}
	.footer-contact__email{
		a{
			color: #373E44;
		}
	}
	.footer-contact__phone{
		padding: 5px 0;
		font-weight: bold;
	}
	.footer-contact__mode{
		color: #A3A3A3;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
	}
	.footer-contact__link{
		color: #A3A3A3;
		border-bottom: 1px solid #A3A3A3;
		@include transition(all .3s linear);
		&:hover{
			color: #373E44;
			border-color: #373E44;
		}
	}
	.footer-contact__but{
		.but{
			width: 100%;
			text-align: center;
			padding: 0 15px;
		}
	}
	.footer-contact__soc{
		padding: 30px 0 0;
		span{
			display: block;
			padding: 0 0 5px;
		}
		.soc-box{
			@include flexbox();
			a{
				&:hover{
					svg{
						path{
							fill: #212121;
						}
					}
				}
			}
		}
	}
}

.soc-box{
	@include inline-flex();
	@include align-items(center);
	a{
		padding: 2px 10px 2px 0;
		svg{
			width: 27px;
			@include transition(all .3s linear);
			path{
				fill: #373E44;
			}
		}
	}
	span{
		display: none;
		padding: 2px 0 2px 5px;
	}
}

@media (max-width: 1600px){
	.footer{
		font-size: 15px;
		line-height: 23px;
		.footer__top{
			padding: 60px 0px 0px;
		}
		.footer__bot{
			padding: 30px 0px;
		}
		.footer__item{
			padding: 0 30px 0 0;
			&.footer__item_logo{
				width: 270px;
			}
			&.footer__item_curs{
				width: 365px
			}
			&.footer__item_menu{
				width: 290px;
			}
			&.footer__item_contact{
				width: 215px;
				padding: 0;
			}
		}
		.footer__heading{
			line-height: 20px;
			padding: 0 0 15px;
		}
		.footer__dc-logo{
			width: 511px;
		}
	}
	.footer-contact{
		.footer-contact__item{
			font-size: 15px;
			line-height: 19px;
			padding: 0 0 20px;
		}
	}
}

@media (max-width: 1240px){
	.footer{
		font-size: 14px;
		line-height: 21px;
		.footer__top{
			padding: 50px 0px 0px;
		}
		.footer__bot{
			padding: 30px 0px;
		}
		.footer__item{
			padding: 0 20px 0 0;
			&.footer__item_logo{
				width: 235px;
			}
			&.footer__item_curs{
				width: 300px
			}
			&.footer__item_menu{
				width: 220px;
			}
			&.footer__item_contact{
				width: 205px;
				padding: 0;
			}
		}
		.footer__heading{
			line-height: 20px;
			padding: 0 0 15px;
		}
		.footer__dc-logo{
			width: 447px;
		}
	}

	.footer-contact{
		.footer-contact__item{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
		}
		.footer-contact__soc{
			padding: 20px 0 0;
		}
	}
}

@media (max-width: 1000px){
	.footer{
		font-size: 14px;
		line-height: 18px;
		.footer__top{
			width: 290px;
			text-align: center;
			padding: 40px 0 0;
			margin: 0 auto;
		}
		.footer__bot{
			text-align: center;
			padding: 20px 0px 18px;
		}
		.footer__item{
			padding: 0 0 20px;
			&.footer__item_logo{
				width: 100%;
			}
			&.footer__item_curs{
				width: 100%;
			}
			&.footer__item_menu{
				width: 100%;
			}
			&.footer__item_contact{
				width: 100%;
			}
		}
		.footer__heading{
			line-height: 18px;
			padding: 0 0 15px;
		}
		.footer__dc-logo{
			width: 290px;
			margin: 0 auto;
			a{
				@include flex-wrap(wrap);
				@include justify-content(center);
				text-align: center;
			}
		}
	}

	.footer-contact{
		.footer-contact__item{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
		}
		.footer-contact__soc{
			padding: 20px 0 0;
			.soc-box{
				@include justify-content(center);
			}
		}
	}
}