.form-my{
	.form-group{
		margin: 0 0 20px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 40px; 
			border: 1px solid #e2e2e2;
			background: transparent;
			color: #232323;
			font-size: 14px;
			@include border-radius(0);
			@include box-shadow(none);
			&::-webkit-input-placeholder{
				color: rgba(#232323, 0.7);
			}
			&::-moz-placeholder{
				color: rgba(#232323, 0.7);
			}
			&:-moz-placeholder{
				color: rgba(#232323, 0.7);
			}
			&:-ms-input-placeholder{
				color: rgba(#232323, 0.7);
			}
			&.disabled, &.form-control[disabled], &.form-control[readonly] {
			    cursor: not-allowed;
			    pointer-events: none;
			    background-color: #eee;
			    opacity: 1;
			}
			&.error{
				color: #a94442;
				border-color: #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
		}
		textarea{
			@include border-radius(0);
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 95px!important;
			max-height: 95px!important;
		}
		&.form-group-visible-label{
			label{
				display: inline-block;
			}
		}
	}
	.password-form-group {
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			.input-group-addon, .input-group-btn, .form-control{
				display: block;
				float: none;
			}
		}
		.input-group-addon{
			position: absolute;
			z-index: 3;
			top: 50%;
			right: 15px;
			width: auto;
			padding: 0;
			color: #737171;
			background-color: transparent;
		    border: none;
		    @include border-radius(0);
		    @include transform(translateY(-50%));
		    &:hover, &:focus, &:active{
		    	cursor: pointer;
		    	color: #252525;
		    }
		}
	}
	.terms_of_use{
	    color: #959595;
	    font-size: 12px;
	    line-height: 1.2;
	    padding: 15px 0px 0px;
	    a{
			color: #959595;
			text-decoration: underline;
		}
	}
	.help-block{
		color: #a94442;
		// display: none;
		margin: 0px!important;
		font-size: 12px;
		// text-align: center;
	}
	.file-upload {
		position: relative;
		input[type="file"]{
		    display: none; 
		}
		label {
			cursor: pointer;
		}
		span {
			color: #212121;
			font-size: 14px;
			line-height: 1.2;
			font-weight: normal;
			padding: 5px 0 0;
			.fa-paperclip{
			    position: relative;
			    font-size: 1.3em;
				border: none;
			    background: transparent;
			    @include transform(rotate(90deg));
			}
			#count_file{
				display: inline-block;
				border-bottom: 1px solid #b3b3b3;
				margin: 0 0 0 10px;
			}
		}
	}
	.form-button{
		margin: 20px 0 0;
	}
	input[type="submit"], button{
		width: 100%;
		border: none;
		height: 50px;
		line-height: 50px;
		padding: 0 60px;
		@include box-shadow(none);
		&:hover, &:focus, &:active{
			outline: 0;
			@include box-shadow(none);
		}
	}
}

@media (max-width: 768px){
	.form-my{
		input[type="submit"], button{
			height: 46px;
			line-height: 46px;
			padding: 0 40px;
		}
	}
}

@media (max-width: 400px){
	.form-my{
		.form-captcha{
			position: relative;
			left: -35px;
			top: -10px;
			display: block;
			margin: 0 auto 10px;
			@include transform(scale(0.7));
		}
		.terms_of_use{
			font-size: 13px;
		}
		.form-button{
			margin: 10px 0 0;
		}
		input[type="submit"], button{
			height: 42px;
			line-height: 42px;
			padding: 0 40px;
		}
	}
}