.curs-category-box{
	margin: 0 -10px;
	.curs-category-box__item{
		position: relative;
		width: calc(100% / 2 - 20px);
		height: 300px;
		background: rgba(0, 0, 0, 0.03);
		overflow: hidden;
		margin: 0 10px 20px;
		&:hover{
			.curs-category-box__img{
				img{
					@include transform(scale(1.01) translateX(0));
				}
			}
		}
	}
	.curs-category-box__info{
		position: relative;
		z-index: 2;
		padding: 30px 42px;
		height: 100%;
	}
	.curs-category-box__name{
		display: inline-block;
		color: #373E44;
		font-size: 23px;
		font-weight: bold;
		line-height: 30px;
		padding: 0 0 10px;
		&:hover{
			color: #F600A2;
			text-decoration: underline;
		}
	}
	.curs-category-box__link{
	}
	.curs-category-box__desc{
		color: #8B8B8B;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
	}
	.curs-category-box__but{
	}
	.curs-category-box__img{
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		width: 580px;
		height: 100%;
		img{
			z-index: -1;
			@include transform(scale(1) translateX(20px));
		}
	}
}

@media (max-width: 1600px){
	.curs-category-box{
		.curs-category-box__item{
			height: 290px;
			margin: 0 10px 20px;
		}
		.curs-category-box__info{
			padding: 30px 42px;
		}
		.curs-category-box__name{
			font-size: 21px;
			line-height: 26px;
			padding: 0 0 10px;
		}
		.curs-category-box__desc{
			font-size: 14px;
			line-height: 22px;
		}
		.curs-category-box__img{
			width: 560px;
		}
	}
}

@media (max-width: 1240px){
	.curs-category-box{
		.curs-category-box__item{
			height: 240px;
			margin: 0 10px 20px;
		}
		.curs-category-box__info{
			padding: 28px 30px;
		}
		.curs-category-box__name{
			font-size: 19px;
			line-height: 24px;
			padding: 0 0 10px;
		}
		.curs-category-box__desc{
			font-size: 14px;
			line-height: 22px;
		}
		.curs-category-box__img{
			width: 470px;
		}
	}
}

@media (max-width: 1000px){
	.curs-category-box{
		margin: 0 -5px;
		.curs-category-box__item{
			margin: 0 5px 20px;
		}
		&.curs-category-box-carousel{
			width: 470px;
			margin: 0 -5px 40px;
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
			.curs-category-box__item{
				width: calc(100% / 1 );
				margin: 0 5px 20px;
			}
			.slick-prev{
				left: 5px;
			}
			.slick-next{
				left: 42px;
			}
		}
	}
}

@media (max-width: 540px){
	.curs-category-box{
		margin: 0 -5px;
		.curs-category-box__item{
			display: -webkit-flex !important;
			 display: -webkit-box !important;
			 display: -ms-flexbox !important;
			    display: -moz-box !important;
			        display: flex !important;
			@include flex-direction(column);
			@include justify-content(space-between);
			height: auto;
			margin: 0 5px 20px;
		}
		.curs-category-box__info{
			height: auto;
			padding: 25px 20px 0;
		}
		.curs-category-box__name{
			// min-height: 54px;
			font-size: 16px;
			line-height: 22px;
			padding: 0 0 10px;
		}
		.curs-category-box__desc{
			font-size: 14px;
			line-height: 22px;
			padding: 0 0 15px;
			// min-height: 60px;
		}
		.curs-category-box__img{
			position: relative;
			z-index: 1;
			right: auto;
			bottom: auto;
		    width: 100%;
    		height: 210px;
			img{
			    max-width: 440px;
			    width: auto;
			    height: auto;
			    left: auto;
			    right: 0;
				-o-object-fit: unset;
	    		object-fit: unset;
			}
		}
		.curs-category-box__but{
			display: none;
		}
		&.curs-category-box-carousel{
			width: 310px;
			margin: 0 -5px 40px;
			.slick-track{
		 		display: -webkit-flex !important;
				 display: -webkit-box !important;
				 display: -ms-flexbox !important;
				    display: -moz-box !important;
				        display: flex !important;
				margin: 0;
	 		}
		}
	}
}