.review-box{
	margin: 0 -5px;
	.review-box__item{
		width: calc(100% / 4 - 10px);
		margin: 0 5px 10px;
		padding: 20px;
		background: #fff;
	}
	.review-box__img{
		position: relative;
		width: 100%;
		height: 214px;
		img{
			z-index: 0;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.03);
		}
	}
	.review-box__info{
		padding: 15px 0 0;
	}
	.review-box__name{
		color: #373E44;
		font-size: 20px;
		font-weight: bold;
		line-height: 22px;
		padding: 0 0 15px;
	}
	.review-box__description{
		color: #7A8086;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
		padding: 0 0 20px;
	}
	.review-box__but{

	}
	&.review-box-carousel{
		width: calc(100% + 10px);
		margin: 0 -5px;
		.slick-list{
			overflow: visible;
		}
		.review-box__item{
			width: calc(100% - 10px);
			margin: 0 5px 10px;
		}
		.slick-prev{
			left: 5px;
		}
		.slick-next{
			left: 52px;
		}
	}
}

.review-modal{
	display: none;
}

@media (max-width: 1600px){
	.review-box{
		.review-box__img{
			height: 204px;
		}
		.review-box__info{
			padding: 12px 0 0;
		}
		.review-box__name{
			font-size: 18px;
			line-height: 20px;
			padding: 0 0 12px;
		}
		.review-box__description{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 17px;
		}
	}
}

@media (max-width: 1240px){
	.review-box{
		&.review-box-carousel{
			.slick-prev{
				left: 5px;
			}
			.slick-next{
				left: 46px;
			}
		}
	}
}

@media (max-width: 1000px){
	.review-box{
		.review-box__img{
			height: 204px;
		}
		.review-box__info{
			padding: 12px 0 0;
		}
		.review-box__name{
			font-size: 16px;
			line-height: 18px;
			padding: 0 0 10px;
		}
		.review-box__description{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 15px;
		}
		&.review-box-carousel{
			width: 290px;
			margin: 0 -5px 40px;
			.review-box__item{
				margin: 0 5px 20px;
			}
			.slick-prev{
				left: 5px;
			}
			.slick-next{
				left: 42px;
			}
		}
	}
}
@media (max-width: 540px){
	.review-box{
		&.review-box-carousel{
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}