.gallery-home{
	padding: 50px 0px 90px;
	&.box-style{
		.box-style__h2{
			text-align: center;
			padding: 0px 0px 45px;
		}
	}
	.instagram-home__but{
		text-align: center;
		padding: 40px 0px 0px;
	}
	.instagram-more{
		position: relative;
		display: inline-block;
		span{
			display: inline-block;
			vertical-align: middle;
			color: rgba(0, 0, 0, 0.6);
			font-size: 30px;
			font-family: EBGaramond-Bold;
			line-height: 1.0;
			padding: 14px 30px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			@include border-radius(3px);
			@include transition(all .3s linear);
		}
		i{
			position: absolute;
			bottom: -31px;
			left: calc(50% - 20px);
			width: 40px;
			height: 32px;
			padding: 6px 10px;
			background: rgba(255, 255, 255, 1);
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-top: none;
			font-size: 13px;
			color: rgba(0, 0, 0, 0.6);
			@include border-radius(0 0 50% 50%);
			@include transition(all .3s linear);
		}
		&:hover{
			span{
				color: rgba(0, 0, 0, 1);
				border-color: rgba(0, 0, 0, 0.8);
			}
			i{
				border-color: rgba(0, 0, 0, 0.8);
				color: rgba(0, 0, 0, 1);
			}
		}
	}
}

.gallery-instagram-box{
	-ms-columns: 6 200px;
	columns: 6 200px;
	-ms-column-gap: 5px;
	column-gap: 5px;
	// max-height: 768px;
	max-width: 100%;
	overflow: hidden;
	.gallery-instagram-box__item {
		display: inline-block;
		width: 100%;
		margin: 0 1rem 1rem 0;
	}
}

.instagram-box{
	-ms-columns: 6 200px;
	columns: 6 200px;
	-ms-column-gap: 5px;
	column-gap: 5px;
	// max-height: 768px;
	max-width: 100%;
	overflow: hidden;
	.instagram-box__item{
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: 200px;
		background: rgba(0, 0, 0, 0.2);
		margin: 0 1rem 1rem 0;
		/* img, video{
			position: absolute;
		    z-index: 1;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    @include transition(all 0.5s ease);
		} */
		video{
			max-width: 100%;
		    height: 252px;
		}
		.instagram-box__link{
			display: block;
			width: 100%;
			height: 100%;
		}
		.img-many{
			position: absolute;
			z-index: 1;
			top: 10px;
			right: 10px;
			width: 36px;
			height: 38px;
			background: url('../images/insta/many.png') no-repeat;
		}
		.video-many{
			position: absolute;
			z-index: 1;
			top: 10px;
			right: 10px;
			width: 36px;
			height: 38px;
			background: url('../images/insta/video.png') no-repeat;
		}
		&:hover {
			img{
				// @include transform(scale(1.1));
				// @include transition(all 2.5s cubic-bezier(0.23, 1, 0.32, 1));
			}
			.instagram-box__hover{
				z-index: 3;
				opacity: 1;
			}
		}
	}
	.instagram-box__hover{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		.instagram-box__text{
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 0;
			padding: 0 15px;
			height: auto;
			color: #000;
			font-size: 14px;
			text-align: center;
			text-transform: none;
			@include transform(translateY(-50%));
		}
		.instagram-footer{
			text-align: center;
			padding: 20px 0px 0px;
			svg{
				path{
					fill: #000;
				}
			}
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.8);
			@include transition(all .3s ease);
		}
	}
	&.instagram-box-carousel{
		display: none;
		width: calc(100% - 200px);
		margin: 0 auto !important;
		.instagram-box__item{
			display: block;
			width: 100%;
		}
	}
}

@media (max-width: 1200px){
	.gallery-home{
		padding: 30px 0px 70px;
		&.box-style{
			.box-style__h2{
				text-align: center;
				padding: 0px 0px 40px;
			}
		}
	}
	.gallery-instagram-box{
		-ms-columns: 4 150px;
		columns: 4 150px;
		-ms-column-gap: 5px;
		column-gap: 5px;
	}
	.instagram-box{
		-ms-columns: 4 150px;
		columns: 4 150px;
		-ms-column-gap: 5px;
		column-gap: 5px;
	}
}

@media (max-width: 1000px){
	.instagram-box{
		.instagram-box__hover{
			.instagram-box__text{
				padding: 0 15px;
				font-size: 13px;
			}
			.instagram-footer{
				padding: 15px 0px 0px;
			}
		}
	}
}

@media (max-width: 768px){
	.gallery-instagram-box{
		-ms-columns: 3 150px;
		columns: 3 150px;
		-ms-column-gap: 5px;
		column-gap: 5px;
	}
	.instagram-box{
		-ms-columns: 3 150px;
		columns: 3 150px;
		-ms-column-gap: 5px;
		column-gap: 5px;
	}
}

@media (max-width: 640px){
	.gallery-home{
		&.box-style{
			.box-style__h2{
				padding: 0px 0px 30px;
			}
		}
	}
	.gallery-instagram-box{
		-ms-columns: 3 100px;
		columns: 3 100px;
		-ms-column-gap: 4px;
		column-gap: 4px;
	}
	.instagram-box{
		-ms-columns: 3 100px;
		columns: 3 100px;
		-ms-column-gap: 4px;
		column-gap: 4px;
		.instagram-box__hover{
			.instagram-box__text{
				padding: 0 7px;
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 400px){
	.gallery-instagram-box{
		-ms-columns: 2 100px;
		columns: 2 100px;
		-ms-column-gap: 3px;
		column-gap: 3px;
	}
	.instagram-box{
		-ms-columns: 2 100px;
		columns: 2 100px;
		-ms-column-gap: 3px;
		column-gap: 3px;
	}
}
