@charset "UTF-8";

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 12;
    display: block;
    cursor: pointer;
    top: -46px;
    padding: 0;
    outline: none;
    width: 55px;
    height: 55px;
    text-align: center;
    border: none;
    background: transparent;
    @include border-radius(50%);
    @include transform(translate(0, -100%));
    // @include transition(all .5s ease);
    svg{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .st0{
            fill: #F600A2;
        }
        .st1{
            fill: #fff;
        }
    }
    &:hover, &:focus {
        outline: none;
        opacity: 1;
        border-color: transparent;
        svg{
            .st0{
                fill: #C1007F;
            }
            .st1{
                fill: #fff;
            }
        }
    }
    &.slick-disabled {
        pointer-events: none;
    }
}
.slick-prev {
    left: 0;
}
.slick-next {
    left: 56px;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -10px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        width: 37px;
        height: 2px;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;
        button {
            display: block;
            width: 100%;
            height: 100%;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border: 0;
            background: #BFBFBF;
            @include border-radius(0);
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border: 0;
            background: #3D7347;
        }
    }
}

@media (max-width: 1600px){
    /* Arrows */
    .slick-prev,
    .slick-next {
        top: -46px;
        width: 46px;
        height: 46px;
    }
    .slick-next {
        left: 47px;
    }
}

@media (max-width: 1240px){
    /* Arrows */
    .slick-prev,
    .slick-next {
        top: -36px;
        width: 40px;
        height: 40px;
    }
    .slick-next {
        left: 41px;
    }
}

@media (max-width: 1000px){
    .slick-prev,
    .slick-next {
        width: 36px;
        height: 36px;
        top: auto;
        bottom: -40px;
        @include transform(translate(0, 0));
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        left: 37px;
    }
    /* Dots */
    .slick-dotted.slick-slider {
        margin-bottom: 40px;
    }
}

@media (max-width: 480px){
    .slick-dots {
        li {
            width: 32px;
            margin: 0 5px;
        }
    }
}