header{
	&.header-home{
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.header{
	position: relative;
	height: 65px;
	.content{
		height: 100%;
	}
	.header__logo{
		width: 165px;
		padding: 0 25px 0 0;
	}
	.header__section{
		width: calc(100% - 165px);
		height: 100%;
	}
	@media (min-width: 1600px){
		.header__logo{
			position: absolute;
			top: 15px;
			left: 30px;
			svg{
				height: 50px;
			}
		}
		.header__section{
			width: 100%;
		}
	}
}

.header-logo{
	height: 100%;
	a{
		display: block;
		width: 100%;
		height: 100%;
	}
	img{
		max-height: 100%;
	}
	svg{
		width: 120px;
		height: 100%;
		.st0, .st2{
			fill: #fff;
		}
		.st1{
			fill: #B50077;
		}
	}
}

.header-section{
	.header-section__item{
		height: 100%;
		&.header-section__item_menu{
			width: calc(100% - 210px);
		}
		&.header-section__item_lk{
			width: 210px;
		}
		&.header-section__icon-menu{
			@media (min-width: 1241px){
				display: none;
			}
			width: 45px;
		    cursor: pointer;
		     -webkit-appearance: listbox;
		     .menu-fix-icon{
		     	width: 100%;
		     	height: 100%;
		     	cursor: pointer;
				text-align: center;
				svg{
					position: relative;
					top: 2px;
					width: 25px;
					path{
						fill: #fff;
					}
				}
		     }
			.icon-bars{
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
				height: 100%;
				.icon-bars__item{
					width: 22px;
					height: 2px;
					background: rgba(255, 255, 255, 1); 
					margin: 0px auto 5px;
					@include transition(all 0.3s linear);
					@include border-radius(8px);
					&:last-child{
						margin: 0 auto;
					}
				}
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.header-menu{
	height: 100%;
}

.header-lk{
	position: relative;
    height: 100%;
    .header-lk__item{
    	position: relative;
    	color: rgba(255, 255, 255, 0.75);
		font-size: 16px;
		font-weight: normal;
		line-height: 21px;
    	&.header-lk__item_login{
    		svg{
    			position: relative;
    			top: 4px;
    		}
    	}
    	span{
    		padding: 0 0 0 10px;
    	}
		&.active{
			.user-menu{
				pointer-events: all;
				max-height: none;
				padding: 10px 0;
				opacity: 1;
			}
		}
	}
    a{
    	color: rgba(255, 255, 255, 0.75);
    	svg{
    		width: 20px;
    		path{
    			fill: #fff;
    		}
    	}
	    &.lk-visible-menu{
			padding: 0;
			.lk-visible-menu__img{
				width: 30px;
				height: 30px;
				color: #fff;
				background: #B50077;
				text-transform: uppercase;
				font-size: 11px;
				margin: 0 10px 0 0;
				overflow: hidden;
				@include border-radius(50%);
				img{
				    width: 100%;
				}
			}
			span{
				top: 0px;
			}
		}
		&.lk-user-logout{
			font-size: 13px;
			font-weight: normal;
			line-height: 16px;
			padding: 0 0 0 2px;
			span{
				padding: 0 6px 0 0;
			}
			svg{
			    position: relative;
    			top: 2px;
				width: 13px;
				height: 13px;
				path{
					fill: #fffefe;
				}
			}
		}

    	&:hover, &:focus, &:active{
    		color: #B50077;
    	}
    }
}
.user-menu{
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	opacity: 0;
	z-index: 2;
	width: 100%;
	min-width: 165px;
	max-height: 0;
	margin: 0;
	padding: 0;
	background: #B50077;
	list-style-type: none;
	pointer-events: none;
	@include transition(all .3s linear);
	li{
		line-height: 1.0;
		padding: 3px 20px 5px;
		a{
			color: rgba(255, 255, 255, 0.5);
			font-size: 16px;
			line-height: 1.2;
			&:after{
				display: none;
			}
			&:hover, &:focus, &:active{
				color: #fff;
			}
		}
	}
}

@media (max-width: 1240px){
	.header{
		.header__logo{
			width: calc(100% - 255px);
			padding: 0 25px 0 0;
		}
		.header__section{
			width: 255px;
			height: 100%;
		}
	}

	.header-section{
		.header-section__item{
			&.header-section__item_menu{
				display: none;
			}
			&.header-section__item_lk{
				width: 210px;
			}
		}
	}
}

@media (max-width: 1000px){
	.user-menu{
		min-width: 130px;
		li{
			padding: 3px 15px 5px;
			a{
				font-size: 14px;
				line-height: 1.2;
			}
		}
	}
}

@media (max-width: 480px){
	.header{
		.header__logo{
			width: calc(100% - 90px);
			padding: 0 25px 0 0;
		}
		.header__section{
			width: 90px;
			height: 100%;
		}
	}
	.header-section{
		.header-section__item{
			&.header-section__item_lk{
				width: 45px;
			}
		}
	}
	.header-lk{
		.header-lk__item{
			span{
				display: none;
			}
		}
	}
	.user-menu{
		left: auto;
    	right: 0;
	}
}

@media (max-width: 360px){
	.user-menu{
		min-width: 120px;
		li{
			padding: 3px 10px 5px;
		}
	}
}