/* Меню */
.menu{
	width: 100%;
	height: 100%;
	ul{
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(center);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			position: relative;
			padding: 0px 25px 0 0;
			@include transition(all .3s linear);
			a{
				position: relative;
				color: rgba(255, 255, 255, 0.75);
				font-size: 16px;
				font-weight: normal;
				line-height: 21px;
				@include transition(all .3s linear);
				&:after{
					content: '';
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 0;
					height: 1px;
					opacity: 0;
					background: rgba(255, 255, 255, 1);
					@include transition(all .3s linear);
				}
			}
			&.active, &:hover{
				a{
					color: rgba(255, 255, 255, 1);
					&:after{
						opacity: 1;
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 1600px){
	.menu{
		ul{
			li{
				padding: 0px 15px 0 0;
				a{
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 1240px){
	.menu{
		display: none;
	}
}
