/* Меню */
// html.htmlmenu{
// 	overflow-y: scroll !important;
// }
body.bodymenu{
	overflow: hidden!important;
}

.menu-fix{
	position: fixed;
	z-index: 1050;
    top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
    overflow: hidden;
    background: #212121;
    opacity: 0;
	pointer-events: none;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
    @include transition(all .3s linear);
    .menu-fix__icon-close{
		z-index: -100;
		right: -200px;
		opacity: 0;
		@include transition(all .3s ease 0.5s);
		&.active{
			display: none;
		    position: fixed;
		    top: 12px;
		    right: 10px;
		    width: 30px;
			height: 30px;
			cursor: pointer;
			opacity: 1;
		    z-index: 1051;
			div {
				position: relative;
				width: 100%;
				height: 2px;
				background: rgba(255, 255, 255, 0.7);
				@include transition(all .4s ease);
				@include transform(rotate(135deg));
				top: 14px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 2px;
					background: rgba(255, 255, 255, 0.7);
					@include transition(all .4s ease);
					top: 0;
        			@include transform(rotate(90deg));
				}
			}
			&:hover{
				div{
					background: #fff;
					@include transform(rotate(225deg));
					&:before {
						background: #fff;
					}
				}
			}
		}
	}
    &.active{
    	left: 0;
    	opacity: 1;
		pointer-events: all;
    }
	.menu-fix__box{
    	width: 100%;
		margin: 100px auto auto;
		width: 920px;
		max-height: calc(100% - 130px);
		padding: 0 20px 0 0;
		opacity: 0;
		overflow: hidden;
		overflow-y: auto;
		pointer-events: none;
		@include transition(all .3s linear);
		&.active{
	    	opacity: 1;
			pointer-events: all;
	    }
	    &::-webkit-scrollbar-track
		{
			-webkit-box-shadow: none;
			@include border-radius(20px);
			background-color: rgba(255, 255, 255, 0.05);
		}
		&::-webkit-scrollbar
		{
			width: 4px;
			background-color: rgba(255, 255, 255, 0.05);
		}
		&::-webkit-scrollbar-thumb
		{
			@include border-radius(10px);
			-webkit-box-shadow: none;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
	.menu-fix-box{
		max-width: 100%;
        max-height: 100%;
	}
}

.menu-fix-logo{
	position: absolute;
	@extend .content;
	top: 10px;
	left: 50%;
	@include transform(translateX(-50%));
	svg{
		position: absolute;
	    top: 0;
	    left: -50px;
		width: 120px;
		height: 100%;
		height: 60px;
		.st0, .st2{
			fill: #fff;
		}
		.st1{
			fill: #B50077;
		}
	}
}

.menu-fix-box{
	.menu-fix-box__item{
		width: calc(100% / 3);
		padding: 0 40px 0 0;
		&:last-child{
			padding: 0;
		}
	}
	.menu-fix-box__heading{
		color: #FFFFFF;
		font-size: 18px;
		font-weight: bold;
		line-height: 17px;
		text-transform: uppercase;
		padding: 10px 0 20px;
	}
	ul {
		list-style: none;
		padding: 0 0 10px;
		margin: 0;
		display: block;
		li{
			padding: 0 0 20px;
			@include transition(all .3s ease);
			a{
				position: relative;
				color: #FFFFFF;
				font-size: 18px;
				font-weight: normal;
				line-height: 1.1;
			}
			&.active, &:hover{
				a{
					color: #FFFFFF;
				}
			}
		}
  	}
}

.menu-fix-contact{
	.menu-fix-contact__item{
		width: 100%;
		color: #FFFFFF;
		font-size: 16px;
		line-height: 1.2;
		font-weight: normal;
		padding: 0 0 30px;
		a{
			color: #FFFFFF;
		}
	}
	.menu-fix-contact__location{
		br{
			display: none;
		}
	}
	.menu-fix-contact__email{
	}
	.menu-fix-contact__phone{
		font-weight: bold;
	}
	.menu-fix-contact__mode{
		font-size: 14px;
		line-height: 13px;
		padding: 5px 0 0;
	}
	.menu-fix-contact__link{
		color: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
		@include transition(all .3s linear);
		&:hover{
			color: #FFFFFF;
			border-color: #FFFFFF;
		}
	}
	.menu-fix-contact__but{
		.but{
			width: 100%;
			text-align: center;
			padding: 0 15px;
		}
	}
}

@media (max-width: 1240px){
	.menu-fix{
		.menu-fix__icon-close{
			&.active{
				display: block;
			}
		}
		.menu-fix__box{
			margin: 85px auto auto;
		}
	}
	
	.menu-fix-logo{
		svg{
		    top: 0;
		    left: -5px;
		}
	}

	.menu-fix-box{
		.menu-fix-box__heading{
			font-size: 16px;
			line-height: 15px;
			padding: 5px 0 15px;
		}
		ul {
			padding: 0 0 10px;
			li{
				padding: 0 0 12px;
				a{
					font-size: 16px;
				}
			}
	  	}
	}
	
	.menu-fix-contact{
		.menu-fix-contact__item{
			font-size: 14px;
			line-height: 1.2;
			padding: 0 0 20px;
		}
		.menu-fix-contact__mode{
			font-size: 14px;
			line-height: 13px;
			padding: 5px 0 0;
		}
	}
}

@media (max-width: 1000px){
	.menu-fix{
		.menu-fix__box{
			width: 720px;
		    max-height: calc(100% - 130px);
			padding: 0 10px 0 0;
		}
	}
	.menu-fix-logo{
		svg{
		    top: 0;
		    left: 0;
		}
	}
	.menu-fix-box{
		.menu-fix-box__item{
			width: calc(100% / 3);
			padding: 0 30px 0 0;
		}
		.menu-fix-box__heading{
			font-size: 14px;
			line-height: 14px;
			padding: 5px 0 15px;
		}
		ul {
			padding: 0 0 10px;
			li{
				padding: 0 0 10px;
				a{
					font-size: 14px;
				}
			}
	  	}
	}

	.menu-fix-contact{
		.menu-fix-contact__item{
			padding: 0 0 20px;
		}
	}
}

@media (max-width: 768px){
	.menu-fix{
		.menu-fix__box{
			width: 600px;
		}
	}
	.menu-fix-box{
		.menu-fix-box__item{
			width: calc(100% / 3);
			padding: 0 25px 0 0;
		}
	}
}

@media (max-width: 640px){
	.menu-fix-logo{
		width: 90% !important;
		svg{
		    top: 0;
		    left: 0;
		}
	}
	.menu-fix{
		.menu-fix__box{
			width: 90%;
		}
	}
	.menu-fix-box{
		.menu-fix-box__item{
			width: calc(100% / 1);
			padding: 0 25px 0 0;
		}
	}
}