/* Окно поиска */
#search-form-Modal{
	.modal-body{
		padding: 0;
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			input{
	    	    width:100%;
			    height: 68px;
			    background: #fff;
			    color: #000;
			    font-size: 20px;
			    letter-spacing: 0;
			    border: none;
			    padding: 0 68px;
			    @include border-radius(6px);
		    }
		    .input-group-btn{
		    	@include flexbox();
		    	@include align-items(center);
	    	    position: absolute;
			    z-index: 5;
			    width: 68px;
			    height: 68px;
			    button{
				    width: 100%;
				    color: #909090;
			    	font-size: 20px;
				    line-height: 1.0;
				    text-align: center;
				    background: transparent;
				    border: none;
				    &:hover, &:focus, &:active{
				    	outline: 0;
				    	@include box-shadow(none);
				    }
			    }
		    }
		}
	}
}
@media (max-width: 1000px){
/* Окно поиска */
	#search-form-Modal{
		.modal-dialog {
		    margin-top: 100px;
		}
		.modal-body{
			.input-group{
				input{
					height: 68px;
					font-size: 26px;
					padding: 0 68px;
				}
			    .input-group-btn{
					width: 68px;
				    height: 68px;
				    button{
						padding: 22px 0px 0px;
						font-size: 26px;
					}
			    }
			}
		}
	}
}
@media (max-width: 640px){
/* Окно поиска */
	#search-form-Modal{
		.modal-dialog {
		    margin-top: 95px;
		}
		.modal-body{
			.input-group{
				input{
					height: 48px;
					font-size: 20px;
					padding: 0 48px;
				}
			    .input-group-btn{
					width: 48px;
				    height: 48px;
				    button{
						padding: 12px 0px 0px;
						font-size: 20px;
					}
			    }
			}
		}
	}
}
@media screen and (min-width: 768px){
	#search-form-Modal{
		.modal-dialog {
		    margin: 125px auto;
		}
	}
}