.blog-post-box{
	margin: 0 -10px;
	.blog-post-box__item{
		position: relative;
		z-index: 1;
		width: calc(100% / 3 - 20px);
		height: 440px;
		margin: 0 10px 20px;
		&:hover{
			.blog-post-box__img{
				img{
					@include transform(scale(1.05));
					@include transition(all 2s linear);
				}
			}
		}
	}
	.blog-post-box__img{
		width: 100%;
		height: 100%;
		overflow: hidden;
		img{
			z-index: -1;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(39, 39, 39, 0.3);
		}
	}
	.blog-post-box__info{
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 30px;
	}
	.blog-post-box__name{
		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		line-height: 26px;
	}
	&.blog-post-box-carousel{
		.blog-post-box__item{
			width: calc(100% - 20px);
			margin: 0 10px 20px;
		}
		.slick-prev{
			left: 10px;
		}
		.slick-next{
			left: 66px;
		}
	}
}

@media (max-width: 1600px){
	.blog-post-box{
		.blog-post-box__item{
			height: 400px;
		}
		.blog-post-box__info{
			padding: 30px;
		}
		.blog-post-box__name{
			font-size: 18px;
			line-height: 24px;
		}
	}
}

@media (max-width: 1240px){
	.blog-post-box{
		margin: 0 -5px;
		.blog-post-box__item{
			height: 340px;
		}
		.blog-post-box__info{
			padding: 25px;
		}
		.blog-post-box__name{
			font-size: 16px;
			line-height: 22px;
		}
		&.blog-post-box-carousel{
			.blog-post-box__item{
				width: calc(100% - 10px);
				margin: 0 5px 20px;
			}
			.slick-prev{
				left: 5px;
			}
			.slick-next{
				left: 46px;
			}
		}
	}
}

@media (max-width: 1000px){
	.blog-post-box{
		.blog-post-box__item{
			height: 320px;
		}
		.blog-post-box__info{
			padding: 20px;
		}
		.blog-post-box__name{
			font-size: 14px;
			line-height: 20px;
		}
		&.blog-post-box-carousel{
			width: 290px;
			margin: 0 -5px 40px;
			.slick-list{
				overflow: visible;
			}
			.slick-prev{
				left: 5px;
			}
			.slick-next{
				left: 42px;
			}
		}
	}
}


@media (max-width: 540px){
	.blog-post-box{
		&.blog-post-box-carousel{
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
		}
	}
}