.modal{
	.modal-content {
	    position: relative;
	    background-color: #eeeeee !important;
	    @include border-radius(10px);
	    .modal-header{
			width: 100%;
			background: #569d45; 
			border: none;
			color: #fff;
			text-align: center;
			 @include border-radius(7px 7px 0px 0px);
			.close {
				color: #fff;
				&:hover, &:focus, &:active{
					outline: 0;
				}
			}
			h4{
				font-family: ProximaNova-Bold;
			}
		}
	}
}

.form{
	.form-group{
		margin: 0 0 12px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 42px; 
			font-size: 14px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			background: rgba(181, 190, 255, 0.3);
			color: #fff;
			font-size: 16px;
			font-family: Roboto-Regular; 
			@include border-radius(3px);
			&::-webkit-input-placeholder{
				color: #fff;
			}
			&::-moz-placeholder{
				color: #fff;
			}
			&:-moz-placeholder{
				color: #fff;
			}
			&:-ms-input-placeholder{
				color: #fff;
			}
			&.error{
				color: #a94442;
				border: 1px solid #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
		}
		textarea{
			@include border-radius(3px);
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 65px!important;
			max-height: 65px!important;
		}
		.help-block{
			display: none;
			margin: 0px!important;
			font-size: 12px;
			font-family: Roboto-Regular;
			text-align: center;
		}
	}
	.form-bot{
		display: table;
		width: 100%;
		margin: 25px 0px 0px;
		.form-captcha{
			display: table-cell;
			vertical-align: middle;
			width: 300px;
			height: 74px;
			@include border-radius(4px);
			.help-block{
				position: absolute;
			    margin: 0px !important;
			    font-size: 12px;
			    font-family: Roboto-Regular; 
			    color: #a94442;
			}
		}
		.form-button{
			display: table-cell;
			vertical-align: middle;
			padding: 0px 0px 0px 20px;
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	input[type="submit"]{
		position: relative;
		width: 100%;
		height: 50px;
		padding: 0;
		color: #fefefe;
		font-size: 20px;
		font-family: BebasNeueBook;
		text-align: center;
	    background: #19182a;
		border: 2px solid #ffc200;
		@include border-radius(3px);
		@include transition(all .3s ease);
		&:hover, &:focus, &:active{
			outline: 0;
			color: #19182a;
			background: #ffc200;
		}
	}
	.terms_of_use{
		width: 100%;
		margin: 10px auto 0px;
		color: #fff;
		font-size: 12px;
		font-family: Roboto-Regular;
		text-align: center;
	}
}

#messageModal{
	.modal-body{
		color: #207901;
	    font-size: 16px;
	    font-family: ProximaNova-Bold;
	    text-align: center;
	}
}

@media (max-width: 640px){
	.form{
		width: 360px;
		margin: 0 auto;
		.form-group{
			input, textarea{
				height: 36px;
				font-size: 13px;
				padding: 6px 15px;
			}
		}
		input[type="submit"]{
			height: 40px;
			font-size: 16px;
		}
		.form-bot{
			display: block;
			.form-captcha{
				display: block;
				margin: 0 auto 30px;
			}
			.form-button{
				display: block;
				padding: 0px;
			}
		}
	}
}

@media (max-width: 400px){
	.form{
		width: 100%;
		margin: 0 auto;
		.form-bot{
			display: block;
			.form-captcha{
				position: relative;
    			left: -45px;
    			top: -10px;
				display: block;
				margin: 0 auto 10px;
				@include transform(scale(0.7));
			}
			.form-button{
				display: block;
				padding: 0px;
			}
		}
	}
}