.content{
	width: 1200px;
	margin: 0 auto;
}

.page-content{
    padding: 0 0 40px;
    h1{
    	padding-top: 20px;
    }
}

@media (max-width: 1600px){
	.content{
		width: 1140px;
	}
}

@media (max-width: 1240px){
	.content{
		width: 960px;
	}
}

@media (max-width: 1000px){
	.content{
		width: 680px;
		padding: 0 10px;
	}
}

@media (max-width: 768px){
	.content{
		width: 600px;
	}
}

@media (max-width: 640px){
	.content{
		width: 100%;
	}
}

// @import "_advantages";
// @import "./page/_gallery-box";
// @import "./page/_review";
@import "_contact-page";
@import "./review/_index";
@import "./blog/_index";
@import "_breadcrumb";
@import "_pagination";
// @import "_callback";