.blog-post-home{
	padding: 30px 0;
	.box-style{
		.box-style__header{
			width: calc(100% - 405px);
			margin: 0 0 0 155px;
		}
	}
}

@media (max-width: 1600px){
	.blog-post-home{
		.box-style{
			.box-style__header{
				width: calc(100% - 370px);
				margin: 0 0 0 130px;
			}
		}
	}
}

@media (max-width: 1240px){
	.blog-post-home{
		.box-style{
			.box-style__header{
				width: calc(100% - 335px);
				margin: 0 0 0 115px;
			}
		}
	}
}

@media (max-width: 1000px){
	.blog-post-home{
		overflow: hidden;
		.content{
			position: relative;
		}
		.box-style{
			.box-style__header{
				width: 100%;
				margin: 0;
			}
		}
	}
}