h1{
	color: #373E44;
	font-size: 43px;
	font-weight: normal;
	line-height: 49px;
	margin: 0;
	padding: 0 0 40px;
}

h2{
	color: #373E44;
	font-size: 28px;
 	font-weight: bold;
	line-height: 33px;
	margin: 0;
	padding: 0 0 25px;
}

.box-style{
	.box-style__header{
		position: relative;
		width: 100%;
		padding: 0 0 40px 40px;
	}
	.box-style__heading_before{
		position: absolute;
		bottom: 40px;
		left: -40px;
		width: 100px;
		color: #B5B5B5;
		font-size: 15px;
		font-weight: normal;
		line-height: 13px;
		@include transform(rotate(-90deg) translate(50%, 0));
	}
	.box-style__heading{
		@extend h1;
		padding: 0 !important;
	}
	.box-style__but{
		width: 250px;
		padding: 0 0 50px;
	}
	&.box-style-but{
		.box-style__header{
			width: calc(100% - 250px);
		}
	}
}

.box-style-img{
	position: relative;
	overflow: hidden;
	img, video{
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	    object-fit: cover;
	    @include transition(all .3s linear);
	}
}

.box-animation{
	@include transition(all .3s linear);
}

.txt-style{
	color: #7A8086;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

.color-pink{
	color: #B50077 !important;
}

.pink-background-gradient{
	@include background-gradient("left", #B50077, #F900A4, 0%, 100%);
}

@media (max-width: 1600px){
	h1{
		font-size: 34px;
		line-height: 38px;
	}

	h2{
		font-size: 26px;
		line-height: 30px;
	}
	.box-style{
		.box-style__header{
			padding: 0 0 40px 40px;
		}
		.box-style__heading_before{
			font-size: 13px;
			line-height: 11px;
		}
		.box-style__but{
			width: 240px;
			padding: 0 0 50px;
		}
		&.box-style-but{
			.box-style__header{
				width: calc(100% - 240px);
			}
		}
	}
	.txt-style{
		font-size: 14px;
		line-height: 22px;
	}
}

@media (max-width: 1240px){
	h1{
		font-size: 28px;
		line-height: 34px;
		padding: 0 0 35px;
	}

	h2{
		font-size: 26px;
		line-height: 30px;
		padding: 0 0 20px;
	}
	.box-style{
		.box-style__header{
			padding: 0 0 30px 30px;
		}
		.box-style__heading_before{
			bottom: 30px;
			left: -30px;
			width: 72px;
			font-size: 11px;
			line-height: 10px;
		}
		.box-style__but{
			width: 220px;
			padding: 0 0 35px;
		}
		&.box-style-but{
			.box-style__header{
				width: calc(100% - 220px);
			}
		}
	}
}

@media (max-width: 1000px){
	h1{
		font-size: 26px;
		line-height: 1.2;
		padding: 0 0 30px;
	}
	h2{
		font-size: 24px;
		line-height: 28px;
		padding: 0 0 20px;
	}
	.box-style{
		.box-style__header{
			padding: 0 0 30px 30px;
		}
		.box-style__heading_before{
			bottom: 30px;
			left: -30px;
			width: 72px;
			font-size: 11px;
			line-height: 10px;
		}
		.box-style__but{
			position: absolute;
			right: 10px;
			bottom: -40px;
			width: 220px;
			padding: 0;
		}
		&.box-style-but{
			.box-style__header{
				width: 100%;
			}
		}
	}
}

@media (max-width: 640px){
	h1{
		font-size: 24px;
		line-height: 1.2;
		padding: 0 0 30px;
	}
	h2{
		font-size: 20px;
		line-height: 24px;
		padding: 0 0 20px;
	}
}

@media (max-width: 480px){
	h1{
		font-size: 22px;
		line-height: 1.2;
		padding: 0 0 30px;
	}
}

@media (max-width: 350px){
	.box-style{
		.box-style__but{
			width: 190px;
			span{
				padding: 0 !important;
			}
			svg{
				display: none;
			}
		}
	}
}