@media (max-width: 1600px){
	.catalog-home{
		margin: -20px 0 0;
	}
}

@media (max-width: 1000px){
	.catalog-home{
		overflow: hidden;
		margin: -60px 0 0;
		.content{
			position: relative;
		}
	}
}

@media (max-width: 480px){
	.catalog-home{
		margin: -100px 0 0;
	}
}