.howWorks-home{
	position: relative;
	z-index: 1;
	padding: 60px 0;
	overflow: hidden;
	.howWorks-home__info{
		width: 580px;
		padding: 30px 0 0;
	}
	.howWorks-home__img{
		width: 547px;
	}
	.howWorks-home__but{
		a{
			margin: 0 30px 30px 0;
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 60px;
		right: 0;
		width: 140px;
		height: 742px;
		background: #F9F9F9;
	}
}

.howWorks-tab-nav{
	padding: 10px 0 0;
	.howWorks-tab-nav__item{
		position: relative;
		height: 35px;
		&.active{
			.howWorks-tab-nav__link{
				color: #1D2125;
				&:after{
					opacity: 1;
					background: #1D2125;
				}
			}
		}
	}
	.howWorks-tab-nav__link{
		width: 100%;
		height: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: #7A8086;
		padding: 0 10px;
		&:after{
			content: '';
			position: absolute;
			opacity: 0.3;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background: #373E44;
		}
	}
}

.howWorks-tab-content{
	.howWorks-tab-content__item{
		position: relative;
		display: none;
		opacity: 0;
		pointer-events: none;
		line-height: 30px;
		padding: 25px 0;
		&.active{
			display: block;
			opacity: 1;
			pointer-events: all;
			height: 365px;
			overflow: hidden;
    		overflow-y: auto;
			&:before, &:after{
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				display: block;
				width: 100%;
				height: 20px;
			}
			&:before{
				top: 20px;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
			}
			&:after{
				bottom: 20px;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
			}
		}
	}
}

.howWorks-home-img{
	position: relative;
	.howWorks-home-img__item{
		position: absolute;
		z-index: 1;
		overflow: hidden;
		&.howWorks-home-img__item_0{
			top: 0;
			left: 0;
			width: 477px;
			height: 671px;
			img{
				left: -15px;
			}
		}
		&.howWorks-home-img__item_1{
			top: 70px;
			right: 0;
			width: 303px;
			height: 423px;
			img{
			    right: -10px;
    			top: 60%;
			}
			&:after{
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				// background: rgba(255, 84, 23, 0.15);
				@include background-gradient(top, rgba(246, 0, 162, 0.15), rgba(246, 0, 162, 0.15), 0, 100%);
			}
		}
		img{
			position: absolute;
			top: 50%;
			z-index: 0;
			max-width: 547px;
			@include transform(translate(0, -50%));
		}
	}
	.howWorks-home-img__logo{
		position: absolute;
		z-index: 2;
		top: calc(50% - 20px);
		right: 75px;
		svg{
			width: 305px;
			height: 90px;
			.st1, .st2{
				fill: #fff;
			}
			.st0{
				fill: #B50077;
			}
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: 0;
		right: 0;
		top: 0;
		display: block;
		width: 477px;
		height: 742px;
		background: #F3F3F3;
	}
}

@media (max-width: 1600px){
	.howWorks-home{
		.howWorks-home__info{
			width: 550px;
			padding: 30px 0 0;
		}
		.howWorks-home__img{
			width: 517px;
		}
		.howWorks-home__but{
			a{
				margin: 0 30px 30px 0;
			}
		}
		&:after{
			display: none;
		}
	}

	.howWorks-tab-nav{
		padding: 0;
		.howWorks-tab-nav__link{
			font-size: 15px;
			line-height: 23px;
		}
	}

	.howWorks-tab-content{
		.howWorks-tab-content__item{
			line-height: 26px;
			padding: 26px 0 24px;
			&.active{
				height: 320px;
			}
		}
	}

	.howWorks-home-img{
		.howWorks-home-img__item{
			&.howWorks-home-img__item_0{
			    width: 410px;
    			height: 560px;
			}
			&.howWorks-home-img__item_1{
				top: 70px;
				right: 0;
		        width: 290px;
    			height: 340px;
			}
			img{
				max-width: 517px;
			}
		}
		.howWorks-home-img__logo{
			top: calc(50% - 15px);
    		right: 80px;
			svg{
			    width: 280px;
    			height: 82px;
			}
		}
		&:after{
			width: 447px;
			height: 620px;
		}
	}
}

@media (max-width: 1240px){
	.howWorks-home{
		.howWorks-home__info{
			width: 470px;
			padding: 15px 0 0;
		}
		.howWorks-home__img{
			width: 450px;
		}
		.howWorks-home__but{
			a{
				margin: 0 25px 25px 0;
			}
		}
	}

	.howWorks-tab-nav{
		padding: 0;
		.howWorks-tab-nav__link{
			font-size: 14px;
			line-height: 22px;
		}
	}

	.howWorks-tab-content{
		.howWorks-tab-content__item{
			line-height: 22px;
			padding: 26px 0 24px;
			&.active{
				height: 320px;
				&:before, &:after{
					height: 15px;
				}
				&:before{
					top: 22px;
				}
				&:after{
					bottom: 22px;
				}
			}
		}
	}

	.howWorks-home-img{
		.howWorks-home-img__item{
			&.howWorks-home-img__item_0{
			    width: 410px;
    			height: 560px;
			}
			&.howWorks-home-img__item_1{
				top: 70px;
				right: 0;
		        width: 240px;
    			height: 330px;
			}
			img{
				max-width: 450px;
			}
		}
		.howWorks-home-img__logo{
			top: calc(50% - 15px);
    		right: 80px;
    		right: calc(50% - 110px);
			svg{
			    width: 220px;
    			height: 65px;
			}
		}
		&:after{
		    width: 380px;
    		height: 600px;
		}
	}
}

@media (max-width: 1000px){
	.howWorks-home{
		padding: 60px 0 30px;
		.howWorks-home__info{
			width: 100%;
			padding: 0 0 15px;
		}
		.howWorks-home__img{
			width: 450px;
			height: 600px;
		}
		.howWorks-home__but{
			a{
				margin: 0 25px 25px 0;
			}
		}
	}
	.howWorks-tab-content{
		.howWorks-tab-content__item{
			line-height: 22px;
			padding: 20px 0;
			&.active{
				height: auto;
				&:before, &:after{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.howWorks-tab-nav{
		.howWorks-tab-nav__link{
			padding: 0 8px;
		}
	}
}

@media (max-width: 480px){
	.howWorks-home{
		.howWorks-home__img{
			width: 100%;
			height: auto;
		}
		.howWorks-home__but{
			a{
				min-width: 232px;
				margin: 0 25px 25px 0;
			}
		}
	}
	.howWorks-tab-nav{
		.howWorks-tab-nav__item{
			width: 100%;
			height: 30px;
			margin: 0 0 15px;
		}
		.howWorks-tab-nav__link{
			padding: 0 8px;
		}
	}

	.howWorks-tab-content{
		.howWorks-tab-content__item{
			line-height: 20px;
		}
	}
	.howWorks-home-img{
		.howWorks-home-img__item{
			position: relative;
			&.howWorks-home-img__item_0{
				top: auto;
				left: auto;
			    width: 100%;
    			height: auto;
    			img{
    				position: relative;
    				max-width: 100%;
    				top: auto;
				    @include transform(translate(0, 0));
    			}
			}
			&.howWorks-home-img__item_1{
				display: none;
			}
		}
		&:after{
			top: 15px;
			width: 100%;
			height: 100%;
		}
	}
}