.news-home{

}
.news-box{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -15px;
	.news-box__item{
		width: calc(100% / 4 - 30px);
		margin: 0 15px 30px;
		opacity: 1; 
		&.news-box__item_0{
			width: calc(100% / 2 - 30px);
		}
		&:hover, &:focus, &:active{
			.news-box__img{
				img{
					@include transform(scale(1.05));
					@include transition(2s linear);
				}
			}
		}
	}
	.news-box__img{
		position: relative;
		width: 100%;
		height: 300px;
		overflow: hidden;
		@include transition(.3s);
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.news-box__info{
		padding: 15px 0 0;
	}
	.news-box__date{
		width: 100%;
		color: #6F6F6F;
		font-size: 16px;
		font-weight: normal;
		line-height: 24px;
		padding: 0 0 10px;
	}
	.news-box__name{
		width: 100%;
		color: #373E44;
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
	}
	&.news-page{
		.news-box__item{
			width: calc(100% / 4 - 30px) !important;
		}
	}
	&.news-box-carousel{
		.news-box__item{
			width: 330px;
			margin: 0 15px 30px;
			&.news-box__item_0{
				width: 690px;
			}
		}
	}
}

@media (max-width: 1600px){
	.news-box{
		margin: 0 -10px;
		.news-box__item{
			width: calc(100% / 4 - 20px);
			margin: 0 10px 20px;
			opacity: 1; 
			&.news-box__item_0{
				width: calc(100% / 2 - 20px);
			}
		}
		.news-box__img{
			height: 255px;
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 4 - 20px) !important;
			}
		}
		&.news-box-carousel{
			.news-box__item{
				width: 272.5px;
				margin: 0 10px 20px;
				&.news-box__item_0{
					width: 565px;
				}
			}
		}
	}
}

@media (max-width: 1240px){
	.news-box{
		.news-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 20px;
			&.news-box__item_0{
				width: calc(100% / 3 - 20px);
			}
		}
		.news-box__img{
			height: 240px;
		}
		.news-box__info{
			padding: 15px 0 0;
		}
		.news-box__date{
			font-size: 14px;
			line-height: 20px;
			padding: 0 0 10px;
		}
		.news-box__name{
			font-size: 16px;
			line-height: 22px;
		}
		&.news-page{
			.news-box__item{
				width: calc(100% / 3 - 20px) !important;
			}
		}
		&.news-box-carousel{
			.news-box__item{
				width: 300px;
				margin: 0 10px 20px;
				&.news-box__item_0{
					width: 300px;
					margin: 0 10px 20px;
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.news-box{
		.news-box__img{
			height: 200px;
		}
		.news-box__info{
			padding: 15px 0 0;
		}
		.news-box__date{
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.05em;
			padding: 0 0 10px;
		}
		.news-box__name{
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0.06em;
			padding: 0 0 15px;
		}
		&.news-box-carousel{
			margin-bottom: 50px !important;
			.news-box__item{
				width: calc(100% - 20px);
				&.news-box__item_0{
					width: calc(100% - 20px);
				}
			}
			.slick-prev,
		    .slick-next {
		    	top: auto;
		    	bottom: -50px;
		    	@include transform(translate(0, 0));
		    }
		    .slick-prev {
		        left: 10px;
		    }
		    .slick-next {
		        right: auto;
		        left: 63px;
		    }
		}
	}
}

@media (max-width: 768px){
	.news-box{
		margin: 0;
		.news-box__item{
			width: calc(100% / 1);
			margin: 0 0 40px;
			&.news-box__item_0{
				width: calc(100% / 1);
			}
		}
		.news-box__img{
			height: 260px;
		}
		.news-box__name{
			font-size: 16px;
		}
		&.news-page{
			margin: 0 -5px;
			.news-box__item{
				width: calc(100% / 2 - 10px) !important;
				margin: 0 5px 30px;
			}
		}
		&.news-box-carousel{
			margin: 0 -5px;
			.news-box__item{
				width: calc(100% - 10px);
				margin: 0 5px 10px;
				&.news-box__item_0{
					width: calc(100% - 10px);
					margin: 0 5px 10px;
				}
			}
			.slick-prev {
		        left: 5px;
		    }
		    .slick-next {
		        right: auto;
		        left: 58px;
		    }
		}
	}
}

@media (max-width: 640px){
	.news-home{
		padding: 0 0 40px;
		.content{
			position: relative;
		}
		.box-style{
			.box-style__header{
				position: static;
			    padding-right: 0px;
			}
			.box-style__but{
				position: absolute;
				top: auto;
    			bottom: -15px;
    			right: 10px;
    			padding: 0;
    			@include transform(translateY(100%));
			}
		}
	}
	.news-box{
		.news-box__item{
			margin: 0 0 30px;
			&:last-child{
				margin: 0 0 20px;
			}
		}
		&.news-box-carousel{
			.news-box__item{
				width: calc(100% - 10px);
				margin: 0 5px 10px;
				&.news-box__item_0{
					width: calc(100% - 10px);
					margin: 0 5px 10px;
				}
			}
		}
	}
}

@media (max-width: 480px){
	.news-home{
		overflow: hidden;
	}
	.news-box{
		.news-box__img{
			height: 220px;
		}
		&.news-page{
			margin: 0;
			.news-box__item{
				width: calc(100% / 1) !important;
				margin: 0 0 20px;
			}
		}
		&.news-box-carousel{
			width: 270px;
			// margin: 0;
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
			// .news-box__item{
			// 	width: calc(100% - 20px);
			// 	margin: 0 10px 20px;
			// 	&.news-box__item_0{
			// 		width: calc(100% - 20px);
			// 		margin: 0 10px 20px;
			// 	}
			// }
		}
	}
}