.review-home{
	background: #F9F9F9;
	padding: 50px 0 90px;
	margin: 30px 0;
	overflow: hidden;
	.box-style{
		.box-style__header{
			width: calc(100% - 405px);
			margin: 0 0 0 155px;
		}
	}
}

@media (max-width: 1600px){
	.review-home{
		padding: 50px 0 80px;
		.box-style{
			.box-style__header{
				width: calc(100% - 370px);
				margin: 0 0 0 130px;
			}
		}
	}
}

@media (max-width: 1240px){
	.review-home{
		padding: 50px 0 80px;
		.box-style{
			.box-style__header{
				width: calc(100% - 335px);
				margin: 0 0 0 115px;
			}
		}
	}
}

@media (max-width: 1000px){
	.review-home{
		padding: 50px 0;
		.content{
			position: relative;
		}
		.box-style{
			.box-style__header{
				width: 100%;
				margin: 0;
			}
		}
	}
}