.slide-home{
	width: 100%;
    overflow: hidden;
}
/* Слайдер */
.slide-box{
	width: 100%;
	// height: 100vh;
	// min-height: 700px;
	height: 755px;
	margin: 0 !important;
	.slick-track, .slick-list{
		height: 100%;
	}
	.slide-box__item{
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	}
	.slide-box__img{
		position: relative;
	    width: 100%;
		height: 100%;
		&:after{
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.35);
		}
	}
	.slide-box__content{
		@extend .content;
	    position: absolute;
	    z-index: 3;
	    left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
		@include transition(all .5s linear);
	}
	.slide-box__info{
		width: 570px;
	}
	.slide-box__name_before{
		color: #FFFFFF;
		font-size: 21px;
		font-weight: bold;
		line-height: 1.0;
		padding: 0 0 10px;
	}
	.slide-box__name{
		color: #FFFFFF;
		font-size: 70px;
		font-family: TTBerlinerins-Grotesk;
		font-style: normal;
		font-weight: normal;
		line-height: 1.0;
		letter-spacing: 0.03em;
		padding: 0 0 10px;
	}
	.slide-box__desc{
		color: #FFFFFF;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.5;
	}
	.slide-box__bottom{
		position: relative;
		.slide-box__but{
			width: calc(100% - 380px);
		}
		.slide-box__desc_short{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 380px;
		}
	}
	.slide-box__desc_short{
		color: rgba(255, 255, 255, 0.7);
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
	}
	.slide-desc__header{
		color: #FFFFFF;
		font-size: 18px;
		font-weight: bold;
		line-height: 24px;
		padding: 0 0 5px;
	}
	.slide-box__but{
		// display: inline-block;
		a{
			width: auto;
			margin: 25px 30px 5px 0;
		}
	}
	.slide-box__img_text{
		position: absolute;
		z-index: 3;
		top: 50%;
		right: -100px;
		color: #FFFFFF;
		font-size: 26px;
		font-family: ElektraTextPro;
		line-height: 25px;
		@include transform(rotate(-90deg) translate(5%, 100%));
	}
	&.slide-box-carousel{
		margin-bottom: 0 !important;
	}
}

.slide-box-nav-content{
	.content{
		position: relative;
	}
}

.slide-box-nav{
	position: absolute;
	display: inline-block;
	width: 380px;
    right: 0;
    top: -150px;
    @include transform(translateY(-100%));
	.slide-box-dots{
		.slick-dots{
			@include flexbox();
			@include align-items(center);
			position: relative;
			width: 100%;
			height: 40px;
			top: auto; left: auto; right: auto; bottom: auto;
		    padding: 0;
		    margin: 0;
		    text-align: left;
		    list-style: none;
			@include transform(translate(0, 0));
		    li {
		        position: relative;
		        @include flexbox();
				@include align-items(center);
				width: 75px;
		        height: 100%;
		        cursor: pointer;
		        color: rgba(255, 255, 255, 0.5);
				font-size: 18px;
				font-weight: normal;
				line-height: 24px;
				margin: 0;
		        &.slick-active {
		            border: 0;
		            color: rgba(255, 255, 255, 1);
		            background: transparent;
		            opacity: 1;
		            &:after{
						background: rgba(255, 255, 255, 1);
					}
		        }
		        &:after{
	            	content: '';
	            	position: absolute;
	            	bottom: 0;
	            	right: 0;
	            	width: 100%;
	            	height: 1px;
	            	background: rgba(255, 255, 255, 0.3);
	            }
		    }
		}
	}
}

@media (max-width: 1600px){
	.slide-box{
		// height: 100vh;
		// min-height: 520px;
		height: 600px;
		.slide-box__content{
			top: 44%;
		}
		.slide-box__info{
			width: 470px;
		}
		.slide-box__name_before{
			font-size: 18px;
			line-height: 1.0;
			padding: 0 0 10px;
		}
		.slide-box__name{
			font-size: 54px;
			line-height: 1.0;
			letter-spacing: 0.02em;
			padding: 0 0 10px;
		}
		.slide-box__desc{
			font-size: 16px;
			line-height: 1.4;
		}
		.slide-box__bottom{
			.slide-box__but{
				width: calc(100% - 320px);
			}
			.slide-box__desc_short{
				width: 320px;
			}
		}
		.slide-box__desc_short{
			font-size: 14px;
			line-height: 18px;
		}
		.slide-desc__header{
			font-size: 16px;
			line-height: 22px;
			padding: 0 0 5px;
		}
		.slide-box__but{
			a{
				width: auto;
				margin: 25px 30px 5px 0;
			}
		}
	}
	.slide-box-nav{
		width: 320px;
	    top: -140px;
		.slide-box-dots{
			.slick-dots{
				height: 30px;
			    li {
					width: 60px;
					font-size: 16px;
					line-height: 22px;
			    }
			}
		}
	}
}

@media (max-width: 1240px){
	.slide-box{
		height: 540px;
		.slide-box__info{
			width: 470px;
		}
		.slide-box__name_before{
			font-size: 16px;
			line-height: 1.0;
			padding: 0 0 10px;
		}
		.slide-box__name{
			font-size: 50px;
			line-height: 1.0;
			letter-spacing: 0.01em;
			padding: 0 0 10px;
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 1.4;
		}
		.slide-desc__header{
			font-size: 15px;
			line-height: 20px;
			padding: 0 0 5px;
		}
		.slide-box__but{
			a{
				width: auto;
				margin: 25px 25px 5px 0;
			}
		}
	}
	.slide-box-nav{
	    top: -125px;
}
}

@media (max-width: 1000px){
	.slide-box{
		.slide-box__content{
			top: 40%;
		}
		.slide-box__info{
			width: 470px;
		}
		.slide-box__name_before{
			font-size: 16px;
			line-height: 1.0;
			padding: 0 0 10px;
		}
		.slide-box__name{
			font-size: 42px;
			line-height: 1.0;
			letter-spacing: 0;
			padding: 0 0 10px;
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 1.3;
		}
		.slide-desc__header{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 5px;
		}
		.slide-box__desc_short{
			display: none;
			font-size: 14px;
			line-height: 16px;
		}
		.slide-box__bottom{
			.slide-box__but{
				width: 100%;
			}
			.slide-box__desc_short{
				width: 232px;
			}
		}
		.slide-box__but{
			a{
				width: auto;
				margin: 25px 25px 5px 0;
			}
		}
		&.slide-box-carousel{
			margin-bottom: 0 !important;
		}
	}
	.slide-box-nav{
		width: calc(100% - 30px);
	    top: -170px;
	    right: auto;
		left: 15px;
		.slide-box-dots{
			.slick-dots{
				height: 30px;
			    li {
					width: 40px;
					font-size: 14px;
					line-height: 20px;
			    }
			}
		}
	}
}

@media (max-width: 640px){
	.slide-box{
		.slide-box__content{
			top: 85px;
			left: 0;
			@include transform(translate(0, 0));
		}
		.slide-box__info{
			width: 420px;
		}
	}
}

@media (max-width: 480px){
	.slide-box{
		height: 650px;
		.slide-box__content{
			text-align: center;
		}
		.slide-box__info{
			width: 100%;
		}
		.slide-box__name_before{
			font-size: 14px;
			line-height: 1.0;
			padding: 0 0 10px;
		}
		.slide-box__name{
			font-size: 32px;
			line-height: 1.0;
			letter-spacing: 0;
			padding: 0 0 10px;
		}
		.slide-box__desc{
			font-size: 14px;
			line-height: 1.2;
		}
		.slide-desc__header{
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 5px;
		}
		.slide-box__bottom{
			padding: 15px 0 0;
			.slide-box__but{
				width: 100%;
			}
		}
		.slide-box__but{
			a{
				width: auto;
				min-width: 232px;
				margin: 10px auto 0;
			}
		}
	}
	.slide-box-nav{
	    top: -240px;
	    .slide-box-dots{
			.slick-dots{
				@include justify-content(center);
			}
		}
	}
}

@media (max-width: 420px){
	.slide-box{
		.slide-box__desc{
			br{
				display: none;
			}
		}
	}
}