.slide-adv-home{
	@include transform(translateY(-100%));
}

.slide-adv{
	width: calc(100% + 3px);
	.slide-adv__item{
		width: calc(100% / 4);
		min-height: 90px;
		color: #212121;
		font-size: 17px;
		font-weight: normal;
		line-height: 20px;
		background: #fff;
		border: 1px solid #DBDBDB;
		border-right: none;
		padding: 23px 40px 25px;
		&:last-child{
			border-right: 1px solid #DBDBDB;
		}
	}
}

@media (max-width: 1600px){
	.slide-adv{
		.slide-adv__item{
		    min-height: 80px;
		    font-size: 15px;
		    line-height: 18px;
		    padding: 14px 30px 16px;
		}
	}
}

@media (max-width: 1000px){
	.slide-adv{
		width: calc(100% + 1px);
		.slide-adv__item{
			width: calc(100% / 2);
		    min-height: 55px;
		    font-size: 14px;
		    line-height: 17px;
		    padding: 14px 25px 16px;
		}
	}
}

@media (max-width: 480px){
	.slide-adv{
		width: calc(100% + 20px);
		margin: 0 -10px;
		.slide-adv__item{
			width: calc(100% / 1);
	        min-height: 45px;
		    font-size: 14px;
		    line-height: 15px;
		    padding: 8px 25px 10px;
		    text-align: center;
		}
	}
}