.programm-curs-box{
	.programm-curs-box__item{
		color: #7A8086;
		font-size: 14px;
		font-weight: normal;
		line-height: 24px;
		background: #F3F3F3;
		backdrop-filter: blur(5px);
		margin: 0 0 30px;
		.txt-md{
			font-size: 16px;
			line-height: 21px;
		}
		&:hover{
			.programm-curs-box__img{
				img{
					@include transform(scale(1.05));
					@include transition(all 2s linear);
				}
			}
		}
	}
	.programm-curs-box__img{
		position: relative;
		z-index: 1;
		width: calc(100% - 487px);
		overflow: hidden;
		img{
			z-index: -1;
		}
		.programm-curs-play{
			position: absolute;
			z-index: 1;
			bottom: 30px;
			left: 30px;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(39, 39, 39, 0.3);
		}
	}
	.programm-curs-box__content{
		width: 487px;
		padding: 35px 40px;
	}
	.programm-curs-box__name_before{
	}
	.programm-curs-box__name{
		color: #1D2125;
		font-size: 23px;
		font-weight: bold;
		line-height: 30px;
	}
	.programm-curs-box__desc{
		color: #373E44;
		padding: 10px 0 0;
		p{
			margin: 0 0 15px;
		}
		ul{
			margin: 0;
			padding: 0 0 15px;
			list-style-type: none;
			li{
				color: #7A8086;
				line-height: 18px;
			}
			&.color-black{
				li{
					color: #373E44;
				}
			}
		}
	}
	.programm-curs-box__specialization{
		padding: 0 0 5px;
		span{
			color: #7A8086;
		}
	}
	.programm-curs-box__link{
		padding: 0 0 20px;
	}
	.programm-curs-box__but{
		a{
			width: 200px;
			padding: 0 10px;
			margin: 0 1px 1px 0;
			@include border-radius(0);
			&:first-child{
				@include border-radius(5px 0 0 5px);
			}
			&:last-child{
				@include border-radius(0 5px 5px 0);
			}
		}
	}
	&.programm-curs-box-carousel{
		margin: 0 !important;
		.programm-curs-box__item{

		}
	}
}

.programm-curs-info{
	.programm-curs-info__item{
		width: 200px;
		padding: 0 20px 20px 0;
	}
	.programm-curs-info__header{}
	.programm-curs-info__body{
		color: #373E44;
		font-size: 23px;
		font-weight: bold;
		line-height: 30px;
	}
}

.programm-curs-play{
	width: 55px;
	height: 55px;
	background: #FFFFFF;
	@include border-radius(5px);
	svg{
		width: 15px;
		height: 100%;
		@include transition(.1s);
		path{
			fill: #373E44;
		}
	}
	&:hover{
		@include box-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
		svg{
			@include transform(scale(1.1));
		}
	}
}

@media (max-width: 1600px){
	.programm-curs-box{
		.programm-curs-box__item{
			font-size: 14px;
			line-height: 22px;
			margin: 0 0 20px;
			.txt-md{
				font-size: 16px;
				line-height: 20px;
			}
		}
		.programm-curs-box__img{
			width: calc(100% - 487px);
		}
		.programm-curs-box__content{
			width: 487px;
			padding: 32px 40px;
		}
		.programm-curs-box__name{
			font-size: 21px;
			line-height: 25px;
		}
		.programm-curs-box__desc{
			padding: 10px 0 0;
			p{
				margin: 0 0 12px;
			}
			ul{
				margin: 0;
				padding: 0 0 12px;
				li{
					line-height: 18px;
				}
			}
		}
		.programm-curs-box__specialization{
			padding: 0 0 5px;
		}
		.programm-curs-box__link{
			padding: 0 0 20px;
		}
		.programm-curs-box__but{
			a{
				width: 200px;
				padding: 0 10px;
			}
		}
	}
	.programm-curs-info{
		.programm-curs-info__item{
			width: 200px;
			padding: 0 17px 17px 0;
		}
		.programm-curs-info__body{
			font-size: 21px;
			line-height: 28px;
		}
	}
	.programm-curs-play{
		width: 46px;
		height: 46px;
	}
}

@media (max-width: 1000px){
	.programm-curs-box{
		.programm-curs-box__item{
			font-size: 14px;
			line-height: 22px;
			margin: 0 0 20px;
			.txt-md{
				font-size: 14px;
				line-height: 22px;
			}
		}
		.programm-curs-box__img{
			width: 100%;
			height: 340px;
			order: 2;
		}
		.programm-curs-box__content{
			width: 100%;
			order: 1;
			padding: 32px 30px;
		}
		.programm-curs-box__name{
			font-size: 19px;
			line-height: 23px;
		}
		.programm-curs-box__desc{
			padding: 10px 0 0;
			p{
				margin: 0 0 10px;
			}
			ul{
				margin: 0;
				padding: 0 0 10px;
				li{
					line-height: 17px;
				}
			}
		}
		.programm-curs-box__specialization{
			padding: 0 0 5px;
		}
		.programm-curs-box__link{
			padding: 0 0 17px;
		}
		.programm-curs-box__but{
			a{
				width: 200px;
				padding: 0 10px;
			}
		}
		&.programm-curs-box-carousel, &.trener-curs-box-carousel{
			margin: 0 0 40px !important;
		}
	}
	.programm-curs-info{
		.programm-curs-info__item{
			width: 200px;
			padding: 0 15px 15px 0;
		}
		.programm-curs-info__body{
			font-size: 19px;
			line-height: 26px;
		}
	}
	.programm-curs-play{
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 640px){
	.programm-curs-box{
		.programm-curs-box__content{
			padding: 30px 15px;
		}
		.programm-curs-box__but{
			a{
				width: 200px;
				// width: auto;
				padding: 0 10px;
				margin: 0 10px 10px 0;
				@include border-radius(0);
				&:first-child{
					@include border-radius(5px);
				}
				&:last-child{
					@include border-radius(5px);
				}
			}
		}
	}
}